@model KGQT.Models.temp.UserModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_PartialView.cshtml";    
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#show_password').hover(function show() {
            //Change the attribute to text
            $('#txtPassword').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                //Change the attribute back to password
                $('#txtPassword').attr('type', 'password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });
        //CheckBox Show Password
        $('#ShowPassword').click(function () {
            $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });
    });
</script>
<div class="vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4 text-uppercase">Đăng nhập</h1>
                                    </div>
                                    @using (Html.BeginForm(FormMethod.Post, new { @class = "user" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserName,"Tài khoản")
                                            @Html.TextBoxFor(model => model.UserName, new { @class="form-control form-control-user", @placeholder="Tài khoản", @type="text", @autofocus="autofocus" })
                                            @Html.ValidationMessageFor(model => model.UserName,"",new { @class="text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password,"Mật khẩu")
                                            @Html.TextBoxFor(model => model.Password, new { @class="form-control form-control-user", @placeholder="Mật khẩu", @type="password" })
                                            @Html.ValidationMessageFor(model => model.Password,"",new { @class="text-danger" })
                                        </div>
                                        @Html.ValidationMessage("error",new{ @class="text-danger" })
                                        <button type="submit" class="btn btn-primary btn-user btn-block btn-login">Login</button>
                                    }
                                    <hr />
                                    <div class="text-center">
                                        <a class="small" href="forgot-password">Quên mật khẩu</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register">Đăng ký tài khoản</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>








