@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using KGQT.Business;
@using KGQT.Models.temp;
@using KGQT.Models;
@using Newtonsoft.Json;
@{
    var sUser = Context.Session.GetString("user");
    tbl_Account user = null;
    var lstNoti = new List<tbl_Notification>();
    int pageNoti = 1;
    int toalPageNoti = 0;
    if (!string.IsNullOrEmpty(sUser))
    {
        user = AccountBusiness.GetInfo(-1, sUser);
        if (user == null)
            Context.Response.Redirect("/Auth/Login");
        else
        {
            var oData = NotificationBusiness.GetPage(user.ID,0,null,null, pageNoti,20);
            lstNoti = oData[0] as List<tbl_Notification>;
            toalPageNoti = (int)oData[2];
        }
    }
    else
        Context.Response.Redirect("/Auth/Login");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    @*<script src="https:use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>*@
    <!-- Custom fonts for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet" type="text/css">
    <link href="~/styles/styleSheet.css" rel="stylesheet" type="text/css">
    <link href="~/styles/user.css" rel="stylesheet" type="text/css">
    <link href="~/styles/custom.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <script src="~/js/base.js" type="text/javascript"></script>
    <!-- NToastNotify  -->
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/base.js"></script>
    <script src="~/js/helper.js" type="text/javascript"></script>
</head>
<body class="sb-nav-fixed" id="page-top">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark navbar-light bg-white topbar shadow">
        <!-- Navbar Brand-->
        <a class="navbar-brand" href="https://www.nhanshiphang.vn/" target="_blank">
            <img class="logo_img" src="/img/logoshipping.png" alt="Nhận Ship Hàng – Một chữ tín, vạn niềm tin" title="Nhận Ship Hàng – Một chữ tín, vạn niềm tin">
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group d-none">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-lg-4">

            <!--Wallet-->
            <li class="nav-item dropdown no-arrow mx-1 d-none d-md-block">
            @if(user != null)
            {
                    <span class="nav-link">
                        <span class="text-dark">Ví cá nhân&nbsp:&nbsp</span>
                        <span class="fw-bold text-danger">@string.Format("{0:N0}đ",user.Wallet).Replace(",",".")</span>
                    </span>
            }
            else
            {
                    <span>Số dư ví: <span class ="fw-bold text-danger">0đ</span></span>
            }
            </li>
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1 d-none d-md-block">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Thông báo">
                    <i class="fas fa-bell fa-fw"></i>
                    @*<span class="badge badge-danger badge-counter">3+</span>*@
                </a>
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="alertsDropdown" >
                    <h6 class="dropdown-header">
                        THÔNG BÁO
                    </h6>
                    <div id="notifications" class="mh-300" onscroll="onScroll(this,@user.ID,@pageNoti)" data-id="@user.ID" data-page="@pageNoti">
                        @if (lstNoti != null)
                        {
                            foreach (var item in lstNoti)
                            {
                                <a class="dropdown-item d-flex align-items-center h-100px" href="#">
                                    <div class="mr-3">
                                        @if(item.NotifType == 1)
                                        {
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        }
                                        else if(item.NotifType == 2)
                                        {
                                             <div class="icon-circle bg-success">
                                                <i class="fas fa-donate text-white"></i>
                                            </div>                                            
                                        }
                                        else 
                                        {
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        }

                                    </div>
                                    <div>
                                        <div>
                                            @Html.Raw(item.Message)
                                        </div>

                                        <div class="small text-gray-500">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                Không có dữ liệu
                            </a>
                        }
                    </div>
                    <a class="dropdown-item text-center small text-gray-500" href="/Notification/Index">Xem tất cả</a>
                </div>
            </li>

            <li class="topbar-divider d-none d-sm-block"></li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (user != null)
                    {
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small fw-bold">
                            @user.FullName
                        </span>
                        <img class="img-profile rounded-circle" src="@(!string.IsNullOrEmpty(user.IMG) ? user.IMG : "/img/undraw_profile.svg") ">
                    }
                    else
                    {
                        <img class="img-profile rounded-circle"
                            src="~/img/undraw_profile.svg">
                    }
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    @if (user?.RoleID == 0)
                    {
                        <a class="dropdown-item" href="/admin/home">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Đến trang quản trị
                        </a>
                        <div class="dropdown-divider"></div>
                    }
                    <a class="dropdown-item" href="/Account/Info">
                        <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                        Thông tin tài khoản
                    </a>
                    <div class="dropdown-divider d-block d-md-none"></div>
                    <a class="dropdown-item d-block d-md-none" href="/Account/Info">
                        <i class="fas fa-wallet fa-sm fa-fw mr-2"></i>
                        <span>Số dư ví: <span class="fw-bold text-danger">@string.Format("{0:N0}đ",user?.Wallet).Replace(",",".")</span></span>
                    </a>
                    <div class="dropdown-divider d-block d-md-none"></div>
                    <a class="dropdown-item d-block d-md-none" href="#">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        Thông báo<span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#withDrawModal">
                        <i class="fas fa-money-check-alt fa-sm fa-fw mr-2"></i>
                        Nạp tiền
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#changePassWordModal">
                        <i class="fas fa-key fa-sm fa-fw mr-2"></i>
                        Đổi mật khẩu
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Auth/Logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                        Đăng xuất
                    </a>
                </div>
            </li>

        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" asp-action="Dashboard" asp-controller="Home">
                            <span><i class="fas fa-house-user icon-16"></i></span>
                            <span class="ml-2">TRANG CHỦ</span>
                        </a>
                        <a class="nav-link" asp-action="Index" asp-controller="ShippingOrder">
                            <span><i class="fas fa-clipboard-list icon-16"></i></span>
                            <span class="ml-2">ĐƠN HÀNG</span>
                        </a>
                        <a class="nav-link" asp-action="Index" asp-controller="Package">
                            <span><i class="fas fa-box icon-16"></i></span>
                            <span class="ml-2">KIỆN HÀNG</span>
                        </a>
                        <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts1">
                            <span><i class="fas fa-wallet icon-16"></i></span>
                            <span class="ml-2">GIAO DỊCH</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="Recharge" asp-controller="Transaction">
                                    <p class="mb-0">
                                        @*i class="fas fa-dollar-sign icon-16"></i>*@
                                        <span>NẠP TIỀN</span>
                                    </p>
                                </a>
                                <a class="nav-link" asp-action="Index" asp-controller="HistoryPayWallet">
                                    <p class="mb-0">
                                        @*<i class="fas fa-exchange icon-16"></i>*@
                                        <span>LỊCH SỬ</span>
                                    </p>
                                </a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <span><i class="fas fa-tags icon-16"></i></span>
                            <span class="ml-2">DỊCH VỤ</span>
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-action="Index" asp-controller="FeeWeight">PHÍ VẬN CHUYÊN</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid py-2">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    @*<a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>*@
    
    @if(user != null)
    {
    <!-- form change password -->
    <div class="modal fade" id="changePassWordModal" tabindex="-1" role="dialog" aria-labelledby="changePassWordModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title">ĐỔI MẬT KHẨU</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formChangePass">
                    <div class="modal-body">
                        <div class="row align-items-center my-2 h-50px">
                            <div class="col-3">
                                <span class="fw-bold">Tài khoản</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <div class="col-9">
                                <input type="text" name="UserName" value="@user.Username" placeholder="Tài khoản" class="form-control" />
                            </div>
                        </div>
                        <div class="row align-items-center my-2 h-50px">
                            <div class="col-3">
                                <span class="fw-bold">Mật khẩu</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <div class="col-9 d-flex align-items-center position-relative">
                                <input id="txtPassword1" type="password" name="OldPassword" placeholder="Mật khẩu" class="form-control" autocomplete="off" />
                                <span class="position-absolute r-20px cursor-pointer" id="show_pass1">
                                    <i class="fa fa-eye-slash" id="iconShow1" onclick="showHidePass('#iconShow1','#txtPassword1')"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row align-items-center my-2 h-50px">
                            <div class="col-3">
                                <span class="fw-bold">Mật khẩu mới</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <div class="col-9 d-flex align-items-center position-relative">
                                <input id="txtPassword2" type="password" name="NewPassword" placeholder="Mật khẩu mới" class="form-control" />
                                <span class="position-absolute r-20px cursor-pointer" id="show_pass2">
                                    <i class="fa fa-eye-slash" id="iconShow2" onclick="showHidePass('#iconShow2','#txtPassword2')"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row align-items-center my-2 h-50px">
                            <div class="col-3">
                                <span class="fw-bold">Nhập lại mật khẩu</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <div class="col-9 d-flex align-items-center position-relative">
                                <input id="txtPassword3" type="password" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" class="form-control" />
                                <span class="position-absolute r-20px cursor-pointer" id="show_pass3">
                                    <i class="fa fa-eye-slash" id="iconShow3" onclick="showHidePass('#iconShow3','#txtPassword3')"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary w-100px" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary w-100px" onclick="clickChangePass()">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- form add widthdraw -->
    <div class="modal fade" id="withDrawModal" tabindex="-1" role="dialog" aria-labelledby="withDrawModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title">NẠP TIỀN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="formWithDraw">
                        <div class="modal-body">
                            <div class="row px-4">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="fw-bold">Tài khoản<span class="text-danger">(*)</span></label>
                                        <input type="text" class="form-control" name="Username" value="@user.Username" placeholder="Tài khoản" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="fw-bold">Hình thức thanh toán<span class="text-danger">(*)</span></label>
                                        <select class="form-control" name="PaymentMethod" onchange="valueCBBChange(this)">
                                            <option value="2" selected>Chuyển khoản</option>
                                            <option value="1">Tiền mặt</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- thông tin chuyển khoản -->
                                <div class="col-lg-12 col-md-12 col-sm-12" id="extendBank">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Chủ tài khoản<span class="text-danger">(*)</span></label>
                                                <input type="text" class="form-control" name="AccountName" placeholder="Chủ tài khoản">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="fw-bold">Số tài khoản<span class="text-danger">(*)</span></label>
                                                <input type="text" class="form-control" name="AccountNumber" placeholder="Số tài khoản">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="fw-bold">Ngân hàng<span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control" name="BankName" placeholder="Ngân hàng">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="fw-bold">Số tiền<span class="text-danger">(*)</span></label>
                                        <input type="text" class="form-control" name="Amount" placeholder="Số tiền" onkeyup="format(this)">

                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label class="fw-bold">Nội dung</label>
                                        <textarea class="form-control" name="Note" placeholder="Nội dung"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12" id="extendNote">
                                    <div class="alert alert-warning d-flex" role="alert">
                                        <i class="fas fa-exclamation-triangle icon-16 mr-2"></i>
                                        <div>
                                            <p class="mb-0"><b>Lưu ý:</b></p>
                                            <p class="mb-0">Với những giao dịch nạp tiền chuyển khoản ngoài giờ hành chính. Thời gian hệ thống xử lý có thể chậm hơn bình thường. Mong quý khách hàng thông cảm!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary w-100px" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary w-100px" onclick="clickAddWithDraw()">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    @*<script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-bar-demo.js"></script>*@
    <script src="~/js/datatables-simple-demo.js"></script>
    <script>
        function onScroll(e,id) {
            if (e.scrollHeight - (e .clientHeight + e.scrollTop) == 0){
                let page = parseInt($("#notifications")[0].dataset.page) + 1;
                if (page <= @toalPageNoti) {
                    $.ajax({
                        url: '/Notification/GetList',
                        type: "GET",
                        data: { id: id, page: page, pageSize: 20 },
                        success: function (respone) {
                            if (respone) 
                            {
                                $("#notifications")[0].dataset.page = parseInt($("#notifications")[0].dataset.page) + 1 + "";
                                $("#notifications").append(respone);
                            }
                        }
                    });
                }
            }
        }
        function clickChangePass() {
            var data = helper.form2Object($('#formChangePass').serializeArray());
            if (!data) {
                helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!')
                return;
            }
            if (!data.OldPassword) {
                helper.showErr('Mật khẩu không được bỏ trống!')
                return;
            }
            if (!data.NewPassword || !data.ConfirmPassword) {
                helper.showErr('Mật khẩu mới không được bỏ trống!')
                return;
            }
            if (data.ConfirmPassword != data.NewPassword) {
                helper.showErr('Mật khẩu không chính xác!')
                return;
            }
            $.ajax({
                url: '/Auth/ChangePassword',
                type: "POST",
                data: data,
                success: function (respone) {
                    if (!respone.isError) 
                    {
                        helper.showSuc('Cập nhật thành công!');
                    }
                    else
                        helper.showErr(respone.message)
                },
                error: function () {
                    helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!')
                }
            });
        }
        function showHidePass(idIcon, idInput) {
            let _input = $(idInput);
            let _icon = $(idIcon);
            if (_icon.hasClass('fa fa-eye-slash')) {
                _icon.removeClass('fa fa-eye-slash');
                _icon.addClass('fa fa-eye');
                _input.attr('type', 'text');
            }
            else {
                _icon.removeClass('fa fa-eye');
                _icon.addClass('fa fa-eye-slash');
                _input.attr('type', 'password');
            }
        };
        function valueCBBChange(e) {
            var v = $(e).find(":selected").val();
            if (v == 2)
            {
                $('#extendBank')?.removeClass('d-none');
                $('#extendNote')?.removeClass('d-none');

            }
            else
            {
                $('#extendBank')?.addClass('d-none');
                $('#extendNote')?.addClass('d-none');
            }
        }
        function format(e) {
            helper.getChange(e)
        }
        function clickAddWithDraw(){
            var data = helper.form2Object($('#formWithDraw').serializeArray());
            if (!data) 
            {
                helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại sau!');
                return;
            }
            if (!data.Username) {
                helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại sau!');
                return;
            }

            if (!data.PaymentMethod) 
            {
                helper.showErr('Vui lòng chọn phương thức thanh toán!');
                return;
            }

            if (!data.Amount)
                data.DeclarePrice = $('input[name="DeclarePrice"]').data('value');

            if (data.PaymentMethod == 2) 
            {
                if (!data.AccountName) {
                    helper.showErr('Chủ tài khoản không được bỏ trống!');
                    return;
                }
                if (!data.AccountNumber) {
                    helper.showErr('Số tài khoản không được bỏ trống!');
                    return;
                }
                if (!data.BankName)
                {
                    helper.showErr('Ngân hàng không được bỏ trống!');
                    return;
                }
            }
            if (!data.Amount) {
                helper.showErr('Vui lòng nhập số tiền!');
                return;
            }
            if (Number(data.Amount.replaceAll(",", "")) < 50000) {
                helper.showErr('Số tiền nạp tối thiếu phải lớn hơn 50,000đ!');
                return;
            }

            $.ajax({
                url: '/WithDraw/Create',
                type: 'POST',
                data: { model: data },
                success: function (respone) {
                    if (respone)
                        helper.showSuc('Yêu cầu của bạn đã được gửi!')
                    else
                        helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!')
                },
                error: function (xhr, status, err) {
                    helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!')
                }
            });
        }
    </script>
    
</body>
</html>
