@model KGQT.Models.tbl_Package
@using KGQT.Commons
@using KGQT.Models.temp;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    var cookieService = new CookieService(Context);
    var tkck = cookieService.Get("tkck");
    UserModel userModel = new UserModel();

    if (!string.IsNullOrEmpty(tkck))
    {
        userModel = JsonConvert.DeserializeObject<UserModel>(tkck);
    }
}

<ul id="breadcrumbs" class="mb-2">
    <li class="text-uppercase"><a href="/Home/Dashboard">Trang chủ</a></li>
    <li class="text-uppercase"><a href="/package/Index">Danh sách đơn hàng</a></li>
    <li class="text-uppercase fw-bold"><a class="active">Chi tiết</a></li>
</ul>
<div class="container-fluid h-100 gradient-custom">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    @if (Model != null)
                    {
                        <div class="row border-bottom border-gray mb-4">
                            <div class="col-md-6 col-sm-12">
                                <h3>Mã vận đơn: <span class="text-uppercase text-nsh1">@Model.PackageCode</span></h3>
                            </div>
                            <div class="col-md-6 col-sm-12 text-right">
                                <button class="btn-sm btn bg-primary text-white mt-2" onclick="addNote(@Model.ID)">Nhập mô tả</button>
                                @if (Model.Status == 9 && Model.CanceledBy == userModel?.UserName)
                                {
                                    <button class="btn-sm btn bg-success text-white mt-2" onclick="Restore(@Model.ID)" type="button">Khôi phục</button>
                                }
                                @if (Model.Status < 2)
                                {
                                    <button class="btn btn-sm bg-dark text-white mt-2" type="button" onclick="cancel(@Model.ID)">Hủy kiện</button>
                                }
                                <button class="btn-sm btn bg-orange text-white mt-2 checkStatus" onclick="checkStatus('@Model.PackageCode',@Model.Status, '@(PJUtils.PackageStatus(Model.Status))')" type="button">Kiểm tra hàng</button>
                                @if (Model.Status < 2)
                                {
                                    <button class="btn-sm btn bg-dark text-white mt-2 px-3" onclick="Delete(@Model.ID)" type="button">Xóa</button>
                                }
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-12 col-sm-12">
                                    @Html.Raw(PJUtils.PackageStatusHtml(Model.Status))
                                </div>
                                @if (!string.IsNullOrEmpty(Model.TransID))
                                {
                                    <div class="col-md-12 col-sm-12">
                                        <a href="/shippingorder/details?recid=@Model.TransID">Xem chi tiết đơn</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row border-bottom border-gray mb-4">
                            <ul class="step col-md-12 col-sm-12 col-lg-12 col-xl-12 col-12">
                                @if (Model.ExportedCNWH != null)
                                {
                                    <li class="active-tl">
                                        <span>Xuất kho Trung Quốc <br> @Model.ExportedCNWH.Value.ToString("dd/MM/yyyy")</span>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span>Xuất kho Trung Quốc</span>
                                    </li>
                                }

                                @if (!string.IsNullOrEmpty(Model.DateExpectation))
                                {
                                    <li class="active-tl">
                                        <span>Đang trên đường về HCM - @Model.DateExpectation</span>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span>Đang trên đường về HCM</span>
                                    </li>
                                }
                                @if (Model.ImportedSGWH != null)
                                {
                                    <li class="active-tl">
                                        <span>Đã về kho HCM <br> @Model.ImportedSGWH.Value.ToString("dd/MM/yyyy")</span>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span>Xuất kho Trung Quốc</span>
                                    </li>
                                }
                                @if (Model.ReceivedDate != null)
                                {
                                    <li class="active-tl">
                                        <span>Đã nhận hàng <br> @Model.ReceivedDate.Value.ToString("dd/MM/yyyy")</span>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span>Đã nhận hàng</span>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="panel panel-primary border-bottom border-gray mb-4 pb-2">
                            <div class="panel-heading">
                                <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Thông tin khách hàng</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <span>Khách hàng: @Model.Username</span>
                                        </div>
                                        <div>
                                            <span>Số điện thoại: @Model.Phone</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <span>Địa chỉ: @Model.Address</span>
                                        </div>
                                        <div>
                                            <span>Email: @Model.Email</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary border-bottom border-gray mb-4 pb-2">
                            <div class="panel-heading">
                                <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Dịch vụ phụ</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model.IsWoodPackage != null && Model.IsWoodPackage == true)
                                        {
                                            <div class="form-check-inline">

                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" checked disabled>Đóng gỗ
                                                </label>
                                            </div>
                                        }
                                        @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" checked disabled>Bọt khí
                                                </label>
                                            </div>
                                        }
                                        @if (Model.IsInsurance != null && Model.IsInsurance == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" checked disabled>Bảo hiểm
                                                </label>
                                            </div>
                                            <!--End:: Kê khai-->
                                        }
                                        @if (Model.IsBrand != null && Model.IsBrand == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input" checked disabled>Hàng hiệu
                                                </label>
                                            </div>
                                            <!--End:: Kê khai-->
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.IsInsurance == true)
                        {
                            <div class="panel panel-primary mb-4">
                                <div class="panel-heading">
                                    <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Kê khai</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                <span>Sản phẩm: @Model.Declaration</span>
                                            </div>
                                            <div>
                                                <span>Giá sản phẩm: @string.Format("{0:N0}",Model.DeclarePrice).Replace(",",".")đ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!--Start::Thông tin đơn-->
                        <div class="panel panel-primary border-bottom border-gray mb-4 pb-2">
                            <div class="panel-heading">
                                <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Tài chính</h3>
                            </div>
                            <div class="panel-body">
                                <div class="d-flex justify-content-between pt-2">
                                    <p class="text-muted mb-0">Cân nặng:</p>
                                    <p class="text-muted mb-0">
                                        <span class="fw-bold">
                                            @(Model.Weight.ChangeFormat()
                                                )kg
                                        </span>
                                    </p>
                                </div>
                                @if (Converted.ToDouble(Model.WeightExchange) > 0)
                                {
                                    <div class="d-flex justify-content-between pt-2">
                                        <p class="text-muted mb-0">Đo lên:</p>
                                        <p class="text-muted mb-0">
                                            (@(
                                               Model.Length.ChangeFormat() + "x" + Model.Width.ChangeFormat() + "x" + Model.Height.ChangeFormat()
                                               )) @(
                                             Model.WeightExchange.ChangeFormat()
                                             )kg
                                        </p>
                                    </div>
                                }
                                @if (Model.IsWoodPackage != null && Model.IsWoodPackage == true)
                                {
                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted mb-0">Phí đóng gỗ:</p>
                                        <p class="text-muted mb-0"><span class="fw-bold">@Converted.String2Money(Model.WoodPackagePrice)đ</span></p>
                                    </div>
                                }
                                @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                                {
                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted mb-0">Phí bọt khí:</p>
                                        <p class="text-muted mb-0"><span class="fw-bold">@Converted.String2Money(Model.AirPackagePrice)đ</span></p>
                                    </div>
                                }
                                @if (Model.IsInsurance != null && Model.IsInsurance == true)
                                {
                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted mb-0">Phí bảo hiểm:</p>
                                        <p class="text-muted mb-0"><span class="fw-bold">@Converted.String2Money(Model.IsInsurancePrice)đ</span></p>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.SurCharge))
                                {
                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted mb-0">Phí thu hộ:</p>
                                        <p class="text-muted mb-0"><span class="fw-bold">@Converted.String2Money(Model.SurCharge)đ</span></p>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.MoreCharge))
                                {
                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted mb-0">Phụ phí:</p>
                                        <p class="text-muted mb-0"><span class="fw-bold">@Converted.String2Money(Model.MoreCharge)đ</span></p>
                                    </div>
                                }
                                <!--End::Thông tin đơn-->
                            </div>
                        </div>
                        <div class="panel panel-primary border-bottom border-gray mb-4 pb-2">
                            <div class="panel-heading">
                                <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Mô tả</h3>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 my-auto">
                                <div class="row @(string.IsNullOrEmpty(Model.Note) ?"d-none" : "")" id="divNote">
                                    <div class="col-md-12 col-sm-12 px-0 mt-2" id="divTextarea">
                                        <textarea class="form-control inputNode  bg-transparent border-0" readonly="readonly" id="note">@Model.Note</textarea>
                                    </div>
                                    <div class="col-md-12 col-sm-12 d-none mt-2 text-right" id="divBtnSave">
                                        <button type="button" class="btn bg-nsh1" id="btnNote" onclick="saveNote(@Model.ID)">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row text-center">
                            <h2 class="text-danger">Không tìm thấy thông tin</h2>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.btn-copy').off('click').on('click', function () {
                let text = $(this).data('value');
                copyClipboard(text);
            })

            $('.inputNode').off().on('keypress', function () {
                if ($(this).val().length >= 40)
                    helper.showErr("Mô tả quá dài vui lòng nhập không vượt quá 40 ký tự");
            })
        })

        function addNote(id) {
            $('#divNote').removeClass('d-none');
            $('#note').removeAttr('readonly');
            $('#note').removeClass('bg-transparent text-white border-0');
            $('#divBtnSave').removeClass('d-none');
            $('#note').focus();
        }

        function saveNote(id) {
            let note = $('#note').val();
            if (note && note.length > 40) {
                helper.showErr("Mô tả quá dài vui lòng nhập không vượt quá 40 ký tự");
                return
            }
            $.ajax({
                url: '/Package/SaveNote',
                method: 'POST',
                dataType: 'json',
                data: { id, note },
                beforeSend: function () {
                    stopLoading();
                },
                success: function (res) {
                    if (res) {
                        helper.showSuc("Cập nhật thành công");
                    }
                },
                error: function (err) {
                    console.log(err)
                },
                complete: function () {
                    stopLoading(true);
                },
            })
        }

        function checkStatus(code, status, statusname) {
            $.ajax({
                url: '/Package/CheckAvailableSearch',
                method: 'GET',
                dataType: 'json',
                data: { code },
                beforeSend: function () {
                    stopLoading();
                },
                success: function (res) {
                    if (res.error == 1) {
                        helper.showErr(res.msg);
                        return;
                    }
                    if (res.error == 2) {
                        Swal.fire({
                            title: "Chú ý",
                            text: res.msg,
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#6e7881",
                            confirmButtonText: "Đồng ý",
                            cancelButtonText: "Từ chối"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "/package/QueryOrderStatus?code=" + code;
                            }
                        });
                        return;
                    }
                    if (res.error == 3) {
                        //Chưa đăng ký theo dõi sát kiện
                        if (status > 3) {
                            Swal.fire({
                                title: "Chú ý",
                                text: "Hiện tại trạng thái kiện hàng là: " + statusname + ", bạn vẫn muốn xem lại quá trình vận chuyển trọng nội đia Trung Quốc?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#6e7881",
                                confirmButtonText: "Đồng ý",
                                cancelButtonText: "Từ chối"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "/package/QueryOrderStatus?code=" + code;
                                }
                            });
                            return;
                        }
                        else if (res.firsttime) {
                            //Lần đầu
                            if (res.times == 0) {
                                if (res.data == 0) {
                                    Swal.fire({
                                        title: "Chú ý",
                                        text: "Quý khách đã hết lượt tra cứu miễn phí, tiếp tục sẽ tốn phí 500đ?",
                                        icon: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#3085d6",
                                        cancelButtonColor: "#6e7881",
                                        confirmButtonText: "Đồng ý",
                                        cancelButtonText: "Từ chối"
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            location.href = "/package/QueryOrderStatus?code=" + code;
                                        }
                                    });
                                } else {
                                    Swal.fire({
                                        title: "Chú ý",
                                        text: "Quý khách sẽ mất 1 điểm tra cứu khi kiểm tra quá trình vận chuyển của kiện hàng trong nội địa Trung Quốc, quý khách có muốn tiếp tục kiểm tra kiện " + code + " không?",
                                        icon: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#3085d6",
                                        cancelButtonColor: "#6e7881",
                                        confirmButtonText: "Đồng ý",
                                        cancelButtonText: "Từ chối"
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            location.href = "/package/QueryOrderStatus?code=" + code;
                                        }
                                    });
                                }
                            }
                            //Lần 2
                            else {
                                Swal.fire({
                                    title: "Chú ý",
                                    text: "Quý khách nhớ đăng ký gửi thông báo các trạng thái kiện hàng để theo dõi sát hơn nhé",
                                    icon: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#3085d6",
                                    cancelButtonColor: "#6e7881",
                                    confirmButtonText: "Đồng ý",
                                    cancelButtonText: "Từ chối"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.href = "/package/QueryOrderStatus?code=" + code;
                                    }
                                });
                            }
                        }
                        //Đã đăng ký
                        else {
                            Swal.fire({
                                title: "Chú ý",
                                text: "Quý khách đã đăng ký theo sát trạng thái kiện hàng, hãy yên tâm chờ thông báo nhé, hoặc Quý khách có thể bấm Đồng ý để vẫn có thể kiểm tra lại.",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#6e7881",
                                confirmButtonText: "Đồng ý",
                                cancelButtonText: "Từ chối"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "/package/QueryOrderStatus?code=" + code;
                                }
                            });
                        }
                    }
                },
                error: function (err) {
                    console.log(err)
                },
                complete: function () {
                    stopLoading(true);
                },
            })
        }

        function cancel(id) {
            $.ajax({
                url: '/Package/Cancel',
                type: 'POST',
                data: { id },
                beforeSend: function () {
                    stopLoading();
                },
                // other AJAX options here
                success: function (result) {
                    if (result.isError)
                        helper.showErr(result.message)
                    else
                        helper.showSuc(result.message)
                },
                error: function (xhr, status, err) {
                    // error handling
                }, complete: function () {
                    stopLoading(true);
                }
            });
        }

        function Restore(id) {
            $.ajax({
                url: '/Package/Restore',
                type: 'POST',
                data: { id },
                beforeSend: function () {
                    stopLoading();
                },
                // other AJAX options here
                success: function (result) {
                    if (result.isError)
                        helper.showErr(result.message)
                    else
                        helper.showSuc(result.message)
                },
                error: function (xhr, status, err) {
                    // error handling
                }, complete: function () {
                    stopLoading(true);
                }
            });
        }

        function Delete(id) {
            Swal.fire({
                title: "Quý khách có chắc muốn xóa kiện này?",
                icon: "warning",
                showCancelButton: true,
                CancelButtonText: "Không",
                confirmButtonText: "Có",
                allowOutsideClick: false,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Package/Delete',
                        type: 'POST',
                        data: { id },
                        // other AJAX options here
                        success: function (result) {
                            if (result.isError)
                                helper.showErr(result.message)
                            else
                                helper.showSuc(result.message)
                        },
                        error: function (xhr, status, err) {
                            // error handling
                        }
                    });
                }
            });
        }
    </script>

</div>
