@using KGQT.Business.Base;
@using KGQT.Models.temp;
@using KGQT.Models;
@model DataReturnModel<tmpChinaOrderStatus>
@{
    ViewData["Title"] = "QueryOrderStatus";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var oPack = BusinessBase.GetOne<tbl_Package>(x => x.PackageCode == Model.Key);
}

<div class="row mb-2">
    <ul id="breadcrumbs">
        <li><a href="/Home/Dashboard">Trang chủ</a></li>
        <li><a href="/package">Danh sách kiện</a></li>
        <li><a class="active">Kiểm tra trạng thái vận chuyển đơn hàng</a></li>
    </ul>
</div>

<div class="container bg-white py-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
            <h5 class="fw-bold text-nsh1 text-uppercase">Thông tin vận chuyển</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
            <div class="mb-3 row">
                <label class="col-md-4 col-sm-12 col-form-label">Mã đơn:</label>
                <div class="col-md-8">
                    <label class="form-control-plaintext"><b>@Model.Key</b></label>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-md-4 col-sm-12 col-form-label">Kết quả truy vấn</label>
                <div class="col-md-8">
                    <label class="form-control-plaintext @(!Model.IsError ? "text-nsh2" : "text-nsh1" )">@(!Model.IsError ? "Thành công" : "Thất bại")</label>
                </div>
            </div>
            @if (!Model.IsError && Model.Data != null)
            {
                <div class="mb-3 row">
                    <label class="col-md-4 col-sm-12 col-form-label">Công ty vận chuyển:</label>
                    <div class="col-md-8 col-sm-12">
                        <a class="form-control-plaintext" href="@Model.Data?.url" target="_blank">@Model.Data?.exname (@Model.Data?.company)</a>
                        <img src="@Model.Data?.ico" />
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label class="col-md-4 col-sm-12 col-form-label">Hành trình đơn hàng</label>
                    <ul class="mb-3">
                        @foreach (var item in Model.Data?.data)
                        {
                            <li>
                                <span class="d-block">@item.time: @item.context</span>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="mb-3 row">
                    <label class="col-md-4 col-sm-12 col-form-label">Lý do:</label>
                    <div class="col-md-8 col-sm-12">
                        <label readonly class="form-control-plaintext">@Html.Raw(Model.Data?.reason ?? Model.Message)</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-sm-12 bg-nsh1">
                        <label readonly class="form-control-plaintext">Hiện tại không thể tra cứu lịch trình của kiện hàng quý khách chọn, quý khách vui lòng xem lại ứng dụng mua hàng hoặc liên hệ lại shop nếu trong 72 tiếng đồng hồ từ lúc có mã vận đơn mà vẫn không có cập nhật dữ liệu của Baidu</label>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 text-right">
            @if (oPack.Status < 3)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input autoquery" type="checkbox" id="autoquery" value="@oPack.ID" name="MovingMethod" @(oPack.AutoQuery == true ? "checked" : "")>
                    <label class="form-check-label text-nsh1" for="movingfast">Đăng ký theo dõi sát kiện</label>
                </div>
            }
            <a class="btn btn-sm bg-nsh2 w-100px" href="/package/index">Quay lại</a>
        </div>
    </div>
</div>


<script>
    $(".autoquery").change(function () {
        let check = $(this).prop('checked');
        let id = $(this).val();
        $.ajax({
            url: '/Package/ChangeAutoQuery',
            type: 'POST',
            data: { id, check },
            beforeSend: function () {
                stopLoading();
            },
            // other AJAX options here
            success: function (result) {
                if (result.isError)
                    helper.showErr(result.message)
                else
                    helper.showSuc(result.message, false)
            },
            error: function (xhr, status, err) {
                // error handling
            }, complete: function () {
                stopLoading(true);
            }
        });
    });
</script>