@model IEnumerable<KGQT.Models.tbl_Withdraw>

@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int status = (int)ViewData["status"];
    var fromDate = ViewData["fromDate"];
    var toDate = ViewData["toDate"];
    int page = (int)ViewData["page"];
    int totalRecord = (int)ViewData["totalRecord"];
    int totalPage = (int)ViewData["totalPage"];
}

<div class="row mb-2">
    <ul id="breadcrumbs">
        <li><a>Quản lý giao dịch</a></li>
        <li><a class="active">Rút tiền</a></li>
    </ul>
</div>
<div class="row bg-white p-2">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="row" id="myform">
            <div class="col-lg-3 col-md-3 col-sm-12 mt-2">
                <p class="fw-bold m-0">Từ ngày:</p>
                @Html.TextBoxFor(model => fromDate, "", new { @type="date", @class="form-control w-100" })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mt-2">
                <p class="fw-bold m-0">Đến ngày:</p>
                @Html.TextBoxFor(model => toDate, "", new { @type="date", @class="form-control w-100" })
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mt-2">
                <p class="fw-bold m-0">Trạng thái:</p>
                <select name="Status" id="Status" class="form-control">
                    <option value="" @(status == 0 ? "selected" : "")>Tất cả</option>
                    <option value="1" @(status == 1 ? "selected" : "")>Chưa duyệt</option>
                    <option value="2" @(status == 2 ? "selected" : "")>Đã duyệt</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mt-2 d-flex align-items-end justify-content-end">
                <div class="d-flex align-items-center">
                    <a href="Index" class="text-decoration-none mx-2" title="Làm mới bộ lọc">
                        <i class="fas fa-sync fa-xs"></i>
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary w-100px">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Start: Danh sách giao dịch-->
<div class="row bg-white p-2">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <h5 class="text-danger text-uppercase fw-bold">RÚT TIỀN</h5>
            </div>
            <div>
                <a class="btn btn-sm btn-success w-100px" href="/Admin/Withdraw/Create?type=2"><i class="fas fa-plus"></i>&nbspThêm</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="fw-normal">
                    <th class="text-left">Ngày tạo</th>
                    <th class="text-left">Khách hàng</th>
                    <th class="text-left">Nội dung</th>
                    <th class="text-center">Số tiền</th>
                    <th class="text-center">Trạng thái</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">
                            @if (item.CreatedDate != null)
                            {
                                <span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                            }
                            else
                            {
                                <span>dd/mm/yyy</span>
                            }
                        </td>
                        <td class="text-left align-middle">
                            @item.Fullname
                        </td>
                        <td class="text-left align-middle">
                            @item.Note
                        </td>
                        <td class="text-center align-middle text-danger">
                            @string.Format("{0:N0}",item.Amount).Replace(",",".")đ
                        </td>
                        <td class="text-center align-middle">
                            @if (item.Status == 1)
                            {
                                <span>Chưa duyệt</span>
                            }
                            else if (item.Status == 2)
                            {
                                <span>Đã duyệt</span>
                            }
                            else if (item.Status == 3)
                            {
                                <span>Từ chối</span>
                            }
                        </td>
                        <td class="text-right align-middle">
                            @if (item.Status == 1)
                            {
                                <a class="btn btn-sm btn-success" onclick="clickApproval(@item.ID)">
                                    <i class="fas fa-check"></i>
                                    <span>Duyệt</span>
                                </a>
                                <a class="btn btn-sm btn-danger" onclick="clickRefuse(@item.ID)">
                                    <i class="fas fa-minus-circle"></i>
                                    <span>Từ chối</span>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--Start: Phân trang-->
<div class="row p-2">
    <div class="col-4 align-self-center">
        <span>
            Tổng số:&nbsp
            <b>@totalRecord</b>
        </span>
    </div>
    <div class="col-8">
        @if (totalPage > 1)
        {
            <nav class="d-flex justify-content-end">
                <ul class="pagination m-0">
                    <li class="@(page <=1 ? "page-item disabled" : "page-item cursor-pointer")">
                        <a class="page-link" onclick="getPage(@(page - 1))" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="pageNumber">
                            @(page)
                        </a>
                    </li>
                    <li class="@(page >= totalPage ? "page-item disabled" : "page-item cursor-pointer")">
                        <a class="page-link" onclick="getPage(@(page + 1))" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            </nav>
        }
    </div>

</div>
<script>
    // get page
    function getPage(pageIndex) {
        var totalPage = @totalPage;
        if (pageIndex <= 0 || pageIndex > totalPage)
            return;
        if (!location.href.includes("page=")) {
            if (location.href.charAt(location.href.length - 1) == "=")
                location.href += `&page=${pageIndex}`;
            else
                location.href += `?page=${pageIndex}`;
        }
        else
            location.href = location.href.replace(`page=${@(page)}`, `page=${pageIndex}`);
    }
    // approval
    function clickApproval(id) {
        helper.showAlert("Bạn có muốn thực hiện yêu cầu này?").then((res) => {
            if (res.isConfirmed) {
                $.ajax({
                    url: '/Admin/WithDraw/Approval',
                    type: "POST",
                    data: { ID: id },
                    success: function (reponse) {
                        if (reponse.isError)
                            helper.showErr(reponse.message);
                        else
                            helper.showSuc(reponse.message);
                    },
                    error: function (xhr, status, err) {
                        helper.showErr("Hệ thống thực thi không thành công. Vui lòng thử lại!");
                    }
                });
            }
        });

    }
    //refuse
    function clickRefuse(id) {
        helper.showAlert("Bạn có muốn từ chối yêu cầu này?").then((res) => {
            if (res.isConfirmed) {
                $.ajax({
                    url: '/Admin/WithDraw/Refuse',
                    type: "POST",
                    data: { ID: id },
                    success: function (reponse) {
                        if (reponse.isError)
                            helper.showErr(reponse.message);
                        else
                            helper.showSuc(reponse.message);
                    },
                    error: function (xhr, status, err) {
                        helper.showErr('Hệ thống thực thi không thành công.')
                    }
                });
            }
        });

    }

</script>


