@using KGQT.Commons;
@using KGQT.Models.temp;
@model KGQT.Models.tbl_Account;

@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ID = ViewData["ID"];
}
<div class="row mb-2 w-100">
    <ul class="ps-2" id="breadcrumbs">
        <li class="text-uppercase"><a href="/Admin">Trang chủ</a></li>
        <li class="text-uppercase"><a href="/Admin/Account/Index">Người dùng</a></li>
        <li class="text-uppercase fw-bold"><a>Thông tin tài khoản</a></li>
    </ul>
</div>

<div class="row justify-content-center py-4 w-100">
    <div class="col-lg-8 col-md-12 col-sm-12" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="row bg-white justify-content-center p-4">
            <div class="col-lg-12 col-md-3 col-sm-12">
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-3 col-md-12 col-sm-3">
                        <div class="text-center">
                            @{
                                if (!string.IsNullOrEmpty(Model.IMG))
                                {
                                    <img class="rounded-circle mb-2 w-100" src="@Model.IMG" height="150" />
                                }
                                else
                                {
                                    <img class="rounded-circle mb-2" src="/img/undraw_profile.svg" width="150" height="150" />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <form class="col-lg-12 col-md-9 col-sm-12" id="formUser">
                <!--Start:Thông tin cá nhân-->
                <div class="row">
                    <h6 class="fw-bold text-primary">THÔNG TIN CÁ NHÂN</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="FirstName">Họ tên<span class="ml-1 text-nsh1">(*)</span></label>
                            <input name="FullName" id="FullName" value="@Model.FullName" type="text" class="form-control" placeholder="Họ và tên"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="Gender">Giới tính</label>
                            <select id="Gender" name="Gender" class="form-control">
                                <option value="" @(Model.Gender == null ? "selected" : "")></option>
                                <option value="true" @(Model.Gender == true ? "selected" : "")>Nam</option>
                                <option value="false" @(Model.Gender == false ? "selected" : "")>Nữ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="Phone">SDT<span class="ml-1 text-nsh1">(*)</span></label>
                            <input name="Phone" id="Phone" value="@Model.Phone" type="text" class="form-control" placeholder="Số điện thoại" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input name="Email" id="Email" value="@Model.Email" type="email" class="form-control" placeholder="Email" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="Wallet">Ví cá nhân</label>
                            <input name="Wallet" id="Wallet" value="@Converted.String2Money(Model.Wallet)" class="form-control text-nsh1" placeholder="0đ" readonly />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="AvailableSearch">Điểm tra cứu Baidu</label>
                            <input name="AvailableSearch" id="Wallet" value="@Model.AvailableSearch" class="form-control text-nsh1" placeholder="0đ" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Address">Địa chỉ <span class="ml-1 text-nsh1">(*)</span></label>
                            <input name="Address" id="Address" value="@Model.Address" type="text" class="form-control" placeholder="Địa chỉ" />
                        </div>
                    </div>
                </div>
                <br />

                <!--Thông tin tài khoản-->
                <div class="row">
                    <h6 class="fw-bold text-primary">TÀI KHOẢN</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Username">Tài khoản <span class="ml-1 text-nsh1">(*)</span></label>
                            <input name="Username" id="Username" value="@Model.Username" type="text" class="form-control" placeholder="Tài khoản" readonly />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Password">Mật khẩu <span class="ml-1 text-nsh1">(*)</span></label>
                            <input name="Password" id="Password" value="@Model.Password" type="text" class="form-control" placeholder="Mật khẩu" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="UserID">Mã định danh</label>
                            <input name="UserID" id="UserID" value="@Model.UserID" type="text" class="form-control" placeholder="Mã định danh" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="RoleID">Loại tài khoản<span class="ml-1 text-nsh1">(*)</span></label>
                            @Html.DropDownListFor(model => model.RoleID, new SelectList(ViewBag.lstRoles,"RoleID","RoleName"),"",new { @class="form-control", @name="RoleID"})
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mt-2">
                    <button type="button" class="btn btn-sm bg-nsh2 w-100px" onclick="update()">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function update() {
        let data = helper.form2Object($('#formUser').serializeArray());
        if (!data) {
            helper.showErr('Cập nhật không thành công. Vui lòng thử lại!');
            return;
        }
        if (!data.FullName) {
            helper.showWarn('Vui lòng nhập Họ tên!');
            return;
        }
        if (!data.Address) {
            helper.showWarn('Vui lòng nhập Địa chỉ liên hệ!');
            return;
        }
        if (!data.Phone) {
            helper.showWarn('Vui lòng nhập Số điện thoại!');
            return;
        }
        if (!data.RoleID) {
            helper.showWarn('Vui lòng chọn loại tài khoản!');
            return;
        }
        let formData = new FormData();
        $.each(data, function (key, value) {
            formData.append("data." + key, value);
        });
        helper.showAlert("Cập nhật thông tin tài khoản?")
        .then((res) => {
            if (res.isConfirmed) {
                $.ajax({
                    url: '/Admin/Account/Update',
                    type: 'Post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.isError)
                            helper.showErr(result.message);
                        else
                            helper.showSuc(result.message);
                    },
                    error: function (xhr, status, err) {
                        helper.showErr("Cập nhật không thành công. Vui lòng thử lại!");
                    }
                    });
            }
        })

        
    }
</script>
