@using KGQT.Commons;
@using KGQT.Models.temp;
@model List<KGQT.Models.tbl_Account>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string? searchText = ViewBag.searchText;
    int pageCurrent = ViewBag.pageCurrent;
    int numberPage = ViewBag.numberPage;
    int numberRecord = ViewBag.numberRecord;
    List<UserRole> lstRoles = ViewBag.lstRoles;
}

<div class="row mb-2 w-100">
    <ul class="ps-2" id="breadcrumbs">
        <li class="text-uppercase fw-bold"><a href="/admin">Trang chủ</a></li>
        <li class="text-uppercase fw-bold"><a class="active">Danh sách</a></li>
    </ul>
</div>
<div class="row p-2 mb-2 w-100">
    <div class="col-12 mb-2">
        <form method="get" class="row align-items-center">
            <div class="col-6">
                <h5 class="fw-bold text-uppercase text-danger mb-0">DANH SÁCH NGƯỜI DÙNG</h5>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-end justify-content-end">
                    @Html.TextBoxFor(model => searchText,"",new {@type="search", @placeholder="Tìm kiếm", @class="input w-300px", @name="searchText"})
                    <a href="/Admin/Account/Index?page=1" class="btn btn-sm btn-info ml-2 w-100px">
                        <i class="fas fa-sync fa-xs mr-2"></i>Xóa lọc
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary ml-2 w-100px"><i class="fas fa-search fa-xs mr-2"></i>Tìm kiếm</button>
                    <button type="button" class="btn btn-sm btn-success ml-2 w-100px" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i>&nbspThêm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="fw-bold text-uppercase">
                    <th class="text-left">Khách hàng</th>
                    <th class="text-left">SĐT</th>
                    <th class="text-left">Tài khoản</th>
                    <th class="text-left">Mật khẩu</th>
                    <th class="text-center">Số dư ví</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle text-left text-truncate">
                            <div class="d-flex align-items-center">
                                <img src="@(string.IsNullOrEmpty(item.IMG) ? "/img/avt-user-emty.jpg" : item.IMG)" title="@item.FullName" width="40" height="40" class="rounded-circle" />
                                <span class="ml-2" title="@item.FullName">@item.FullName</span>
                            </div>
                        </td>
                        <td class="align-middle text-left">
                            <span title="Số diện thoại">@item.Phone</span>
                        </td>
                        <td class="align-middle text-left">
                            <span title="Tài khoản">@item.Username</span>
                        </td>
                        <td class="align-middle text-left">
                            <span title="Mật khẩu">@item.Password</span>
                        </td>
                        <td class="align-middle text-center text-truncate">
                            <span title="@Converted.String2Money(item.Wallet)đ" class="text-danger">@Converted.String2Money(item.Wallet)đ</span>
                        </td>
                        <td class="align-middle text-right">
                            <a class="btn btn-sm btn-primary" href="/Admin/Withdraw/Create?user=@item.Username&type=1" title="Nạp tiền">
                                <span>Nạp tiền</span>
                            </a>
                            <a class="btn btn-sm btn-warning" href="/Admin/Withdraw/Create?user=@item.Username&type=2" title="Rút tiền">
                                <span>Rút tiền</span>
                            </a>
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#baiduModal" onclick="openPopup('@item.Username','@item.Wallet')">
                                <span>Cộng điểm</span>
                            </button>
                            <a class="btn btn-sm btn-secondary" href="/Admin/Account/Detail?id=@item.ID" title="Xem">
                                <span>Chi tiết</span>
                            </a>
                            <span class="btn btn-sm btn-danger" onclick="clickDelete(@item.ID)" title="Xóa">
                                <span>Xóa</span>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row p-2 w-100">
    <div class="col-4 align-self-center">
        <span>
            Tổng số:&nbsp
            <b>@numberRecord</b>
        </span>
    </div>
    <div class="col-8">
        @if (numberPage > 1)
        {
            <nav class="d-flex justify-content-end">
                <ul class="pagination m-0">
                    @{
                        int offset = 2; // number display page
                        if (pageCurrent > 1)
                        {
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,1,@numberPage)">
                                    <i class="fas fa-fast-backward"></i>
                                </button>
                            </li>
                            int prevPage = pageCurrent - 1;
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@prevPage,@numberPage)">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </button>
                            </li>
                        }

                        int from = pageCurrent - offset;
                        int to = pageCurrent + offset;
                        if (from <= 0)
                        {
                            from = 1;
                            to = offset * 2;
                        }

                        if (to > numberPage)
                        {
                            to = numberPage;
                        }

                        int i;
                        for (i = from; i <= to; i++)
                        {
                            <li class="@(pageCurrent == i ? "page-item active" : "page-item")">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@i,@numberPage)">@i</button>
                            </li>
                        }
                        if (pageCurrent < numberPage - (to / 2))
                        {
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        }
                        if (pageCurrent < numberPage)
                        {
                            int nextPage = pageCurrent + 1;
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@nextPage,@numberPage)">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </li>
                        }
                        if (pageCurrent < numberPage)
                        {
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@numberPage,@numberPage)">
                                    <i class="fas fa-fast-forward"></i>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </nav>
        }
    </div>
</div>
<!-- popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel">Thêm Người Dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" id="formAddUser" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Họ Tên</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" name="FullName" class="form-control" autocomplete="off" autofocus />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Giới tính</span>
                            </label>
                            <select name="Gender" class="form-control">
                                <option selected value="0"></option>
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">SĐT</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="Phone" class="form-control" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Email</span>
                            </label>
                            <input name="Email" class="form-control" type="email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Địa chỉ</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="Address" class="form-control" type="text" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Tài khoản</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="UserName" class="form-control" autocomplete="false" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Mật khẩu</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="Password" class="form-control" type="password" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Mã định danh</span>
                            </label>
                            <input name="UserID" class="form-control" autocomplete="off" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Loại tài khoản</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <select name="RoleID" class="form-control" autocomplete="off">
                                @if (lstRoles != null)
                                {
                                    foreach (var item in lstRoles)
                                    {
                                        <option value="@item.RoleID">@item.RoleName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary w-100px" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary w-100px" onclick="insert()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- form baidu -->
<div class="modal fade" id="baiduModal" tabindex="-1" role="dialog" aria-labelledby="baiduModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">ĐỔI LƯỢT TÌM KIẾM BAIDU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formBaidu">
                <div class="modal-body">
                    <div class="row align-items-center my-2 h-50px">
                        <div class="col-3">
                            <span class="fw-bold">Tài khoản</span>
                            <span class="text-danger">(*)</span>
                        </div>
                        <div class="col-9 d-flex align-items-center">
                            <input type="text" id="txtUserName" name="UserName" placeholder="Tài khoản" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row align-items-center my-2 h-50px">
                        <div class="col-3">
                            <span class="fw-bold">Số dư ví</span>
                            <span class="text-danger">(*)</span>
                        </div>
                        <div class="col-9 d-flex align-items-center">
                            <input type="text" id="txtWallet"  name="Wallet" placeholder="0đ" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row align-items-center my-2 h-50px">
                        <div class="col-3">
                            <span class="fw-bold">Số lượt</span>
                            <span class="text-danger">(*)</span>
                        </div>
                        <div class="col-9 d-flex align-items-center">
                            <input type="number" name="Amount" class="form-control" min="1" max="9999" />
                        </div>
                    </div>
                    <div class="row align-items-center my-2">
                        <div class="col-3">
                        </div>
                        <div class="col-9 d-flex align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="UsedWallet" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Tặng điểm
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="alert alert-warning d-flex" role="alert">
                                <i class="fas fa-exclamation-triangle icon-16 mr-2"></i>
                                <div>
                                    <p class="mb-0"><b>Lưu ý:</b></p>
                                    <p class="mb-0">Hệ thống quy đổi lượt tìm kiếm đơn hàng trên kênh Baidu với mức phí 500đ/1lượt!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary w-100px" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary w-100px" onclick="clickBaidu()">Đổi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function insert() {
        var data = helper.form2Object($('#formAddUser').serializeArray());
        if (!data.FullName) {
            helper.showWarn('Họ tên người dùng không được bỏ trống!');
            return
        }

        if (!data.Phone) {
            helper.showWarn('Số điện thoại không được bỏ trống!');
            return
        }

        if (!data.Address) {
            helper.showWarn('Địa chỉ không được bỏ trống!');
            return
        }

        if (!data.UserName) {
            helper.showWarn('Tên tài khoản không được bỏ trống!');
            return;
        }

        if (!data.Password) {
            helper.showWarn('Mật khẩu không được bỏ trống!');
            return;
        }
        if (!data.RoleID) {
            helper.showWarn('Loại tài khoản không được bỏ trống!');
            return;
        }

        $.ajax({
            url: "/Admin/Account/Create",
            type: 'POST',
            data: data,
            success: function (reponse) {
                if (reponse.isError)
                    helper.showErr(reponse.message)
                else
                    helper.showSuc('Thêm mới thành công!')
            },
            error: function (xhr, status, err) {
                    helper.showErr('Hệ thống thực thi không thành công! Vui lòng thử lại')
            }
        });
    }

    function clickDelete(id) {
        helper.showAlert("Bạn có muốn thực hiện thao tác xóa?").then((res) => {
            if (res.isConfirmed) 
            {
                $.ajax({
                    url: "/Admin/Account/Delete",
                    type: 'POST',
                    data: { id: id },
                    success: function (reponse) {
                        if (reponse.isError)
                            helper.showErr("Xóa không thành công!")
                        else
                            helper.showSuc('Xóa thành công!')
                    }
                });
            }
        });
    }

    function openPopup(userName, wallet){
        $("#txtUserName").val(userName);
        $("#txtWallet").val(wallet);
    }
    
    function clickBaidu(){
        var data = helper.form2Object($('#formBaidu').serializeArray());
        if (!data) {
            helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại sau!');
            return;
        }
        if (!data.UserName) {
            helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại sau!');
            return;
        }
        if (!data.Amount) {
            helper.showWarn('Vui lòng nhập số lượt quy đổi!');
            return;
        }
        if (data.Amount > 9999) {
            helper.showWarn('Số lượt quy đổi không quá 10000 lượt!');
            return;
        }

        helper.showAlert("Xác nhận cộng điểm cho khách hàng?").then((res) => {
            if (res.isConfirmed) 
            {
                $.ajax({
                    url: '/Admin/WithDraw/BuySearches',
                    type: 'POST',
                    data: { userName: data.UserName, amount: data.Amount, free : data.UsedWallet },
                    success: function (respone) {
                        if (respone.isError)
                            helper.showErr(respone.message)
                        else
                            helper.showSuc(respone.message);
                    },
                    error: function (xhr, status, err) {
                        helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!')
                    }
                });
            }
        });
        
    }
</script>
