@using KGQT.Models.temp;
@model List<KGQT.Models.tbl_Account>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var searchText = ViewData["searchText"];
    int page = (int)ViewData["page"];
    int totalRecord = (int)ViewData["totalRecord"];
    int totalPage = (int)ViewData["totalPage"];
    var lstRoles = ViewData["lstRoles"] as List<UserRole>;

}

<div class="row mb-2">
    <ul id="breadcrumbs">
        <li><a>Người dùng</a></li>
        <li><a>Danh sách</a></li>
    </ul>
</div>
<div class="row bg-white p-2">
    <div class="col-12 py-2">
        <div class="row">
            <h5 class="fw-bold text-danger text-uppercase m-0">DANH SÁCH NGƯỜI DÙNG</h5>
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <form method="get">
                    @Html.TextBoxFor(model => searchText,"",new {@type="search", @placeholder="Tìm kiếm", @class="input", @name="searchText"})
                    <a href="/Admin/Account/Index?page=1" class="text-decoration-none mx-2" title="Làm mới bộ lọc">
                        <i class="fas fa-sync fa-xs"></i>
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary w-100px">Tìm kiếm</button>
                </form>
                <button class="btn btn-sm btn-success w-100px" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i>&nbspThêm</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="fw-bold">
                    <th class="text-left">Khách hàng</th>
                    <th class="text-center">MĐD</th>
                    <th class="text-center">Tài khoản</th>
                    <th class="text-center">Số dư ví</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td class="text-left text-truncate">
                            <div class="d-flex align-items-center">
                                <img src="@(string.IsNullOrEmpty(item.IMG) ? "/img/avt-user-emty.jpg" : item.IMG)" title="@item.FullName" width="40" height="40" class="rounded-circle" />
                                <span class="ml-2" title="@item.FullName">@item.FullName</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <span title="@item.UserID">@item.UserID</span>
                        </td>
                        <td class="text-center">
                            <span title="@item.Username">@item.Username</span>
                        </td>
                        <td class="text-center text-truncate">
                            <span title="@string.Format("{0:N0}",item.Wallet).Replace(",",".")đ" class="text-danger">@string.Format("{0:N0}",item.Wallet).Replace(",",".")đ</span>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-primary" href="/Admin/Withdraw/Create?user=@item.Username">
                                <i class="fas fa-wallet"></i>
                                <span>Nạp tiền</span>
                            </a>
                            <a class="btn btn-sm btn-secondary" href="/Admin/Account/Detail?id=@item.ID">
                                <i class="far fa-edit"></i>
                                <span>Xem</span>
                            </a>
                            <span class="btn btn-sm btn-danger" onclick="clickDelete(@item.ID)">
                                <i class="fas fa-trash-alt"></i>
                                <span>Xóa</span>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row bg-white p-2">
    <div class="col-lg-6 col-md-1 col-sm-1">
        <span>
            Tổng số:&nbsp
            <b>@totalRecord</b>
        </span>
    </div>
    <div class="col-lg-6 col-md-11 col-sm-11">
        @if (totalPage > 1)
        {
            <nav class="d-flex justify-content-end">
                <ul class="pagination m-0">
                    <li class="@(page <=1 ? "page-item disabled" : "page-item cursor-pointer")">
                        <a class="page-link" onclick="getPage(@(page - 1))" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="pageNumber">
                            @(page)
                        </a>
                    </li>
                    <li class="@(page >= totalPage ? "page-item disabled" : "page-item cursor-pointer")">
                        <a class="page-link" onclick="getPage(@(page + 1))" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            </nav>
        }
    </div>
</div>
<!-- popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" id="formAddUser" autocomplete="off">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Mã định danh</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="UserID" class="form-control" autocomplete="off" autofocus="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Họ</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="FirstName" class="form-control" autocomplete="off" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span v>Tên</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="LastName" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Ngày sinh</span>
                            </label>
                            <input name="BirthDay" class="form-control" type="date" autocomplete="off" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Giới tính</span>
                            </label>
                            <select name="Gender" class="form-control">
                                <option selected value="0"></option>
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Email</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="Email" class="form-control" type="email" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">SĐT</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="Phone" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Tài khoản</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="UserName" class="form-control" autocomplete="false" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Mật khẩu</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <input name="Password" class="form-control" type="password" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-group">
                            <label class="control-label">
                                <span class="fw-bold">Loại tài khoản</span>
                                <span class="text-danger">(*)</span>
                            </label>
                            <select name="RoleID" class="form-control" autocomplete="off">
                                @if (lstRoles != null)
                                {
                                    foreach (var item in lstRoles)
                                    {
                                        <option value="@item.RoleID">@item.RoleName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary w-100px" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary w-100px" onclick="insert()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script>
    function insert() {
        var data = helper.form2Object($('#formAddUser').serializeArray());
        if (!data.UserID) {
            helper.showErr('Mã định danh không được bỏ trống!');
            return
        }

        if (!data.FirstName) {
            helper.showErr('Họ tên người dùng không được bỏ trống!');
            return
        }

        if (!data.LastName) {
            helper.showErr('Họ tên người dùng không được bỏ trống!');
            return;
        }

        if (!data.Email) {
            helper.showErr('Địa chỉ Email không được bỏ trống!');
            return
        }

        if (!data.Phone) {
            helper.showErr('Số điện thoại không được bỏ trống!');
            return
        }

        if (!data.UserName) {
            helper.showErr('Tài khoản không được bỏ trống!');
            return;
        }

        if (!data.Password) {
            helper.showErr('Mật khẩu không được bỏ trống!');
            return;
        }
        if (!data.RoleID) {
            helper.showErr('Loại tài khoản không được bỏ trống!');
            return;
        }
        $.ajax({
            url: "/Admin/Account/Create",
            type: 'POST',
            data: data,
            success: function (reponse) {
                if (reponse.isError) {
                    helper.showErr(reponse.message)
                }
                else
                    helper.showSuc('Thêm mới thành công!')
            },
            error: function (xhr, status, err) {
                    helper.showErr('Hệ thống thực thi không thành công!')
            }
        });
    }
    function clickDelete(id) {
        $.ajax({
            url: "/Admin/Account/Delete",
            type: 'POST',
            data: { id: id },
            success: function (reponse) {
                if (!reponse)
                    helper.showErr("Xóa không thành công.")
                else
                    helper.showSuc('Xóa thành công!')
            }
        });
    }
    function getPage(pageIndex) {
        var totalPage = @totalPage;
        if (pageIndex <= 0 || pageIndex > totalPage)
            return;
        if (!location.href.includes("page=")) {
            if (location.href.charAt(location.href.length - 1) == "=")
                location.href += `&page=${pageIndex}`;
            else
                location.href += `?page=${pageIndex}`;
        }
        else
            location.href = location.href.replace(`page=${@(page)}`, `page=${pageIndex}`);

    }
</script>
