@model KGQT.Models.tbl_Package
@using KGQT.Commons

@if (Model != null)
{
    <div class="card shadow-0 border mb-4">
        <div class="card-body p-0 py-2">
            <div class="row border-bottom p-2 mx-0 align-items-center">
                <div class="col-md-6 col-sm-12 row">
                    <div class="col-md-6 col-sm-12 row align-items-center">
                        <span class="cursor-pointer">
                            <a href="/admin/package/details?id=@Model.ID">@Model.PackageCode</a>
                            <i class="fa fa-copy"></i>
                        </span>
                        -
                        <span>Kho nhận: Quảng Châu</span>
                    </div>
                    <div class="col-md-6 col-sm-12 row align-items-center">
                        <span>
                            Ngày lên đơn:  &nbsp;<strong class=" mb-0">
                                @Model.CreatedDate.Value.ToString("dd/MM/yyyy")
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 row align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <span>
                            Tổng tiền hàng:  &nbsp;<strong>
                               @string.Format("{0:N0}",Model.TotalPrice != null ? Model.TotalPrice : 0).Replace(",", ".")đ
                            </strong>
                        </span>
                    </div>
                    @if (Model.Status == 2)
                    {
                        <div class="col-md-6 col-sm-12 row justify-content-md-end">
                            <button class="btn-sm btn bg-orange text-white mb-sm-1 mr-md-2" onclick="submitFn(@Model.ID)">Cập nhật</button>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row p-2 mx-0 mt-2">
                        <div class="col-md-6">
                            <span>Loại vận chuyển: @PJUtils.ShippingMethodName(Model.MovingMethod)</span>
                        </div>
                        <div class="col-md-6">
                            Dịch vụ phụ:
                            @if (Model.IsWoodPackage != null && Model.IsWoodPackage == true)
                            {
                                <div class="form-check-inline">

                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked disabled>Đóng gỗ
                                    </label>
                                </div>
                            }
                            @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                            {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked disabled>Bọt khí
                                    </label>
                                </div>
                            }
                            @if (Model.IsInsurance != null && Model.IsInsurance == true)
                            {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked disabled>Bảo hiểm
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row px-2 mx-0 mb-2">
                        <div class="col-md-6">
                            <div>
                                <span>Khách hàng: @Model.FullName</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <span>Số điện thoại: @Model.Phone</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="my-2 mr-2 my-2 row col-md-7 col-sm-12 col-xs-12 float-md-right scroll-y-80 timeline">
                        @if (Model.ReceivedDate != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Đã nhận hàng - @Model.ReceivedDate.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }

                        @if (Model.ImportedSGWH != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Đã về kho HCM - @Model.ImportedSGWH.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }

                        @if (Model.DateExpectation != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Đang trên đường về HCM - @Model.DateExpectation.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }

                        @if (Model.ExportedCNWH != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Xuất kho Trung Quốc - @Model.ExportedCNWH.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row p-2 mx-0 my-2 border-top">
                <div class="col-md-3">
                    <div class="row">
                        <label for="staticEmail" class="col-md-6 col-form-label">Cân nặng:</label>
                        <div class="col-md-6">
                            @if (Model.Status > 2)
                            {
                                <p class="form-control mb-0 border-0">@string.Format("{0:N0}",Model.WeightPrice != null ? Model.WeightPrice : 0).Replace(",", ".")đ</p>
                            }
                            else
                            {
                                <input id="txtWeight" class="form-control mb-0" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    @if (Model.IsWoodPackage != null && Model.IsWoodPackage == true)
                    {
                        <div class="row">
                            <label for="staticEmail" class="col-md-6 col-form-label">Phí đóng gỗ:</label>
                            <div class="col-md-6">
                                @if (Model.Status > 2)
                                {
                                    <p class="form-control mb-0 border-0">@(Model.Weight)kg - @string.Format("{0:N0}",Model.WoodPackagePrice != null ? Model.WoodPackagePrice : 0).Replace(",", ".")đ</p>
                                }
                                else
                                {
                                    <input data-type="formatvnd" id="txtWoodPackage" class="form-control mb-0" />
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-3">
                    @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                    {
                        <div class="row">
                            <label for="staticEmail" class="col-md-6 col-form-label"> Phí bọt khí:</label>
                            <div class="col-md-6">
                                @if (Model.Status > 2)
                                {
                                    <p class="form-control mb-0 border-0"> @string.Format("{0:N0}",Model.AirPackagePrice != null ? Model.AirPackagePrice : 0).Replace(",", ".")đ</p>
                                }
                                else
                                {
                                    <input data-type="formatvnd" id="txtAirPackage" class="form-control mb-0" />
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-3">
                    @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                    {
                        <div class="row">
                            <label for="staticEmail" class="col-md-6 col-form-label"> Phí bảo hiểm:</label>
                            <div class="col-md-6">
                                <p class="form-control mb-0 border-0"> @string.Format("{0:N0}",Model.IsInsurancePrice != null ? Model.IsInsurancePrice : 0).Replace(",", ".")đ</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        formatVND();
    });

    function submitFn(id) {
        let weight = $('#txtWeight').val(), wood = 0, air = 0;
        let $wood = $('#txtWoodPackage');
        let $air = $('#txtAirPackage');
        debugger;
        if (!weight) {
            helper.showErr('Vui lòng nhập cân nặng!');
            return;
        }
        if ($wood.length) {
            wood = $wood.data('value');
            if (!wood) {
                helper.showErr('Vui lòng nhập phí đóng gỗ!');
                return;
            }
        }
        if ($air.length) {
            air = $air.data('value');
            if (!air) {
                helper.showErr('Vui lòng nhập phí quấn bọt khí!');
                return;
            }
        }

        $.ajax({
            url: '/admin/Package/SubmitPack',
            method: 'POST',
            dataType: 'json',
            data: { id, weight, woodPrice: wood, airPrice: air },
            success: function (res) {
                if (res)
                    helper.showSuc("Cập nhật thành công");
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
</script>