@model KGQT.Models.tbl_Package
@using KGQT.Commons

@if (Model != null)
{
    <div class="card shadow-0 border mb-4">
        <div class="card-body p-0 py-2">
            <div class="row mx-0 py-2 border-bottom bg-success text-white">
                <div class="col-md-6 my-auto">
                    <span class="cursor-pointer">
                        <a href="/admin/package/details?id=@Model.ID">@Model.PackageCode</a>
                        <span class="btn-copy" data-value="@Model.PackageCode">
                            <i class="fa fa-copy"></i>
                        </span>
                    </span>
                    <span class="mx-2"> - </span>
                    <span>Kho nhận: @PJUtils.WareHouse(Model.WareHouse)</span>
                </div>
                <div class="col-md-3 my-auto">
                    <span>  Ngày lên đơn:  &nbsp;<strong class=" mb-0"> @(Model.CreatedDate.Value.ToString("dd/MM/yyyy"))</strong></span>
                </div>
                <div class="col-md-3 text-right">
                    @Html.Raw(PJUtils.PackageStatusHtml(Model.Status))
                    <button class="btn-sm btn bg-orange text-white mr-md-2" onclick="submitFn(@Model.ID,@Model.MovingMethod)">Cập nhật</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row p-2 mx-0 mt-2">
                        <div class="col-md-6">
                            <span>Loại vận chuyển: @PJUtils.ShippingMethodName(Model.MovingMethod)</span>
                        </div>
                        <div class="col-md-6">
                            Dịch vụ phụ:
                            @if (Model.IsWoodPackage != null && Model.IsWoodPackage == true)
                            {
                                <div class="form-check-inline">

                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked disabled>Đóng gỗ
                                    </label>
                                </div>
                            }
                            @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                            {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked disabled>Bọt khí
                                    </label>
                                </div>
                            }
                            @if (Model.IsInsurance != null && Model.IsInsurance == true)
                            {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked disabled>Bảo hiểm
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row px-2 mx-0 mb-2">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Khách hàng</label>
                                <div class="col-sm-8">
                                    <input id="txtUserName" class="form-control mb-0" value="@Model.Username" @(!string.IsNullOrEmpty(Model.Username) ? "disabled" : "") />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <span>Số điện thoại: @Model.Phone</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="my-2 mr-2 my-2 row col-md-7 col-sm-12 col-xs-12 float-md-right scroll-y-80 timeline">
                        @if (Model.ReceivedDate != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Đã nhận hàng - @Model.ReceivedDate.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }

                        @if (Model.ImportedSGWH != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Đã về kho HCM - @Model.ImportedSGWH.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }

                        @if (Model.DateExpectation != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Đang trên đường về HCM - @Model.DateExpectation.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }

                        @if (Model.ExportedCNWH != null)
                        {
                            <li class="ml-4 mb-2">
                                <span>Xuất kho Trung Quốc - @Model.ExportedCNWH.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row m-0 pt-2 border-top">
                <div class="col-md-3">
                    <div class="row">
                        <div class="form-inline text-left">
                            Cân nặng:  &nbsp;
                            @if (Model.Status > 4)
                            {
                                <p class="form-control mb-0 border-0">@string.Format("{0:N0}",Model.WeightPrice != null ? Model.WeightPrice : 0).Replace(",", ".")đ</p>
                            }
                            else
                            {
                                <input id="txtWeight" class="form-control mb-0" />
                            }
                        </div>
                    </div>
                </div>
                @if (Model.IsWoodPackage != null && Model.IsWoodPackage == true)
                {
                    <div class="col-md-3">

                        <div class="row">
                            <div class="form-inline text-left">
                                Đóng gỗ:  &nbsp;
                                @if (Model.Status > 4)
                                {
                                    <p class="form-control mb-0 border-0">@(Model.Weight)kg - @string.Format("{0:N0}",Model.WoodPackagePrice != null ? Model.WoodPackagePrice : 0).Replace(",", ".")đ</p>
                                }
                                else
                                {
                                    <input data-type="formatvnd" id="txtWoodPackage" class="form-control mb-0" />
                                }
                            </div>
                        </div>
                    </div>
                }
                @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                {
                    <div class="col-md-3">

                        <div class="row">
                            <div class="form-inline text-left">
                                Bọt khí:  &nbsp;
                                @if (Model.Status > 4)
                                {
                                    <p class="form-control mb-0 border-0"> @string.Format("{0:N0}",Model.AirPackagePrice != null ? Model.AirPackagePrice : 0).Replace(",", ".")đ</p>
                                }
                                else
                                {
                                    <input data-type="formatvnd" id="txtAirPackage" class="form-control mb-0" />
                                }

                            </div>
                        </div>
                    </div>
                }
                @if (Model.IsAirPackage != null && Model.IsAirPackage == true)
                {
                    <div class="col-md-3 align-self-center">
                        <div class="row">
                            <div class="form-inline text-left">
                                Phí bảo hiểm:  &nbsp;
                                <p class=" mb-0">@string.Format("{0:N0}",Model.IsInsurancePrice != null ? Model.IsInsurancePrice : 0).Replace(",", ".")đ</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <h2 class="text-danger">Không tìm thấy kiện</h2>
}
<div id="copied-success" class="copied"><span>Đã copy ✅!</span></div>

<script>
    $(document).ready(function () {
        formatVND();
        $('.btn-copy').off('click').on('click', function () {
            let text = $(this).data('value');
            $(this).select();
            navigator.clipboard.writeText(text);
            $('#copied-success').css('opacity', '1');
            setTimeout(function () { $('#copied-success').css("opacity", 0) }, 500);
        })
    })

    function submitFn(id, moving) {
        debugger;
        let weight = $('#txtWeight').val();
        let wood = 0;
        let air = 0;
        let username = "";
        let $wood = $('#txtWoodPackage');
        let $air = $('#txtAirPackage');
        let $username = $('#txtUserName');
        if (!weight) {
            helper.showErr('Vui lòng nhập cân nặng!');
            return;
        }
        if ($wood.length) {
            wood = $wood.data('value');
            if (!wood) {
                helper.showErr('Vui lòng nhập phí đóng gỗ!');
                return;
            }
        }
        if ($air.length) {
            air = $air.data('value');
            if (!air) {
                helper.showErr('Vui lòng nhập phí quấn bọt khí!');
                return;
            }
        }
        if ($username.length) {
            username = $username.val();
            if (!username) {
                helper.showErr('Vui lòng khai báo khách hàng!');
                return;
            }
        }
        $.ajax({
            url: '/admin/Package/InStockPackage',
            method: 'POST',
            dataType: 'json',
            data: { id, username, moving, weight, woodPrice: wood, airPrice: air },
            success: function (res) {
                if (res)
                    helper.showSuc("Cập nhật thành công");
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
</script>