@model IEnumerable<KGQT.Models.tbl_Package>
@using KGQT.Commons

@{
    ViewData["Title"] = "Danh sách kiện";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int status = (int)ViewData["status"];
    int page = (int)ViewData["page"];
    int totalRecord = (int)ViewData["totalRecord"];
    int totalPage = (int)ViewData["totalPage"];

}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/">Quản lý ký gửi</a></li>
    <li><a>Danh sách kiện</a></li>
</ul>

<div class="row bg-white p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <p class="fw-bold mb-0">Trạng thái:</p>
            </div>
            <div class="col-12">
                <ul class="nav">
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == -1 || status == 0 ? "bg-danger text-white" : "")" onclick="sort(-1)">Tất cả</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 1? "bg-danger text-white" : "")" onclick="sort(1)">Chưa xác nhận</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 2? "bg-danger text-white" : "")" onclick="sort(2)">Hàng về kho TQ</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 3? "bg-danger text-white" : "")" onclick="sort(3)">Đang trên đường về HCM</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 4? "bg-danger text-white" : "")" onclick="sort(4)">Hàng về tới HCM</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 5 ? "bg-danger text-white" : "")" onclick="sort(5)">Đã nhận hàng</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 9 ? "bg-danger text-white" : "")" onclick="sort(9)">Đã hủy</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 10 ? "bg-danger text-white" : "")" onclick="sort(10)">Thất lạc</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 11 ? "bg-danger text-white" : "")" onclick="sort(11)">Không nhận được hàng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row py-2">
            <form class="col" id="myform" method="get">
                <div class="row">
                    <div class="col-5">
                        <div>
                            <span class="fw-bold" id="">Nhập mã đơn:</span>
                        </div>
                        <div>
                            <input type="text" class="form-control w-100" id="ID" name="ID" placeholder="Nhập mã đơn hàng" />
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row col">
                            <span class="fw-bold">Thời gian tạo:</span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="date" class="form-control w-100" id="fromDate" name="fromDate" />
                            </div>
                            <div class="col-6">
                                <input type="date" class="form-control w-100" id="toDate" name="toDate" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 card card mx-2" style="border-radius: 10px;">
        <div class="card-body p-4">
            <!--Start::Thông tin kiện-->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Danh sách ký gửi</h3>
                <div>
                    <input type="file" id="exportCNWH" hidden onchange="exportCNWH(this)" />
                    <button type="button" class="btn btn-danger btn-sm" onclick="importFile(2)">Cập nhật đơn xuất kho TQ</button>
                    <a href="/admin/package/create" class="btn btn-primary btn-sm pointer-event">Thêm đơn</a>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <input type="text" hidden value="@item.PackageCode" id="package-code">
                <div class="card shadow-0 border mb-4">
                    <div class="card-body p-0">
                        <div class="row mx-0 py-2 border-bottom bg-success text-white">
                            <div class="col-md-6 my-auto">
                                <span class="cursor-pointer">
                                    <a href="/admin/package/details?id=@item.ID">@item.PackageCode</a>
                                    <i class="fa fa-copy"></i>
                                </span>
                                <span class="mx-2"> - </span>
                                <span>Kho nhận: @PJUtils.WareHouse(item.WareHouse)</span>
                            </div>
                            <div class="col-md-3 my-auto">
                                <span>  Ngày lên đơn:  &nbsp;<strong class=" mb-0"> @(item.CreatedDate.Value.ToString("dd/MM/yyyy"))</strong></span>
                            </div>
                            <div class="col-md-3 text-right">
                                @if (item.Status < 2)
                                {
                                    <button class="btn-sm btn bg-orange text-white mb-sm-1 mr-md-2">Kiểm tra hàng kho TQ</button>
                                }
                                else
                                {
                                    @Html.Raw(PJUtils.PackageStatusHtml(item.Status))
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row p-2 mx-0 mt-2">
                                    <div class="col-md-6">
                                        <span>Loại vận chuyển: @PJUtils.ShippingMethodName(item.MovingMethod)</span>
                                    </div>
                                    <div class="col-md-6">
                                        Dịch vụ phụ:
                                        @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                        {
                                            <div class="form-check-inline">

                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input mt-1" checked disabled>Đóng gỗ
                                                </label>
                                            </div>
                                        }
                                        @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input mt-1" checked disabled>Bọt khí
                                                </label>
                                            </div>
                                        }
                                        @if (item.IsInsurance != null && item.IsInsurance == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input mt-1" checked disabled>Bảo hiểm
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row px-2 mx-0 mb-2">
                                    <div class="col-md-6">
                                        <div>
                                            <span>Khách hàng: @item.FullName</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <span>Số điện thoại: @item.Phone</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="my-2 mr-2 my-2 row col-md-7 col-sm-12 col-xs-12 float-md-right scroll-y-80 timeline">
                                    @if (item.ReceivedDate != null)
                                    {
                                        <li class="ml-4">
                                            <span>Đã nhận hàng - @item.ReceivedDate.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }

                                    @if (item.ImportedSGWH != null)
                                    {
                                        <li class="ml-4">
                                            <span>Đã về kho HCM - @item.ImportedSGWH.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }

                                    @if (item.DateExpectation != null)
                                    {
                                        <li class="ml-4">
                                            <span>Đang trên đường về HCM - @item.DateExpectation.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }

                                    @if (item.ExportedCNWH != null)
                                    {
                                        <li class="ml-4">
                                            <span>Xuất kho Trung Quốc - @item.ExportedCNWH.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row p-2 mx-0 my-2 border-top">
                            <div class="col-md-3">
                                <div class="form-inline text-left">
                                    Vận chuyển:  &nbsp;<p class=" mb-0">@(item.Weight ?? 0)kg -@string.Format("{0:N0}",item.WeightPrice != null ? item.WeightPrice : 0).Replace(",", ".")đ</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                {
                                    <div class="form-inline text-left">
                                        Phí đóng gỗ: &nbsp;
                                        <p class=" mb-0"> @string.Format("{0:N0}",item.WoodPackagePrice != null ? item.WoodPackagePrice : 0).Replace(",", ".")đ </p>
                                    </div>
                                }
                            </div>
                            <div class="col-md-2">
                                @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                {
                                    <div class="form-inline text-left">
                                        Phí bọt khí:  &nbsp;
                                        <p class=" mb-0">@string.Format("{0:N0}",item.AirPackagePrice != null ? item.AirPackagePrice : 0).Replace(",", ".")đ</p>
                                    </div>
                                }
                            </div>
                            <div class="col-md-2">
                                @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                {
                                    <div class="form-inline text-left">
                                        Phí bảo hiểm:  &nbsp;
                                        <p class=" mb-0">@string.Format("{0:N0}",item.IsInsurancePrice != null ? item.IsInsurancePrice : 0).Replace(",", ".")đ</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--Start: Phân trang-->
<div class="row p-2">
    <div class="col-1">
        <span>
            Tổng số:&nbsp
            <b>@totalRecord</b>
        </span>
    </div>
    <div class="col-11">
    @if (totalPage > 1)
    {
        <nav class="d-flex justify-content-center">
            <ul class="pagination m-0">
                <li class="@(page <=1 ? "page-item disabled" : "page-item cursor-pointer")">
                    <a class="page-link" onclick="getPage(@(page - 1))" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" id="pageNumber">
                        @(page)
                    </a>
                </li>
                    <li class="@(page >= totalPage ? "page-item disabled" : "page-item cursor-pointer")">
                    <a class="page-link" onclick="getPage(@(page + 1))" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

            </ul>
        </nav>
    }
    </div>

</div>

<script>
    function getPage(pageIndex) {
        var totalPage = @totalPage;
        if (pageIndex <= 0 || pageIndex > totalPage)
            return;
        if (!location.href.includes("page="))
            location.href += `?page=${pageIndex}`;
        else
            location.href = location.href.replace(`page=${@(page)}`, `page=${pageIndex}`);
    }

    function importFile(type) {
        $('#exportCNWH').click();
    }

    function exportCNWH(o) {
        const ip = $(o).get(0);
        var file = ip.files;
        let form = new FormData();
        form.append("file", file[0]);

        $.ajax({
            url: '/admin/package/EmportChinaWareHouse',
            type: 'POST',
            dataType: 'json',
            data: form,
            contentType: false,
            processData: false,
            success: function (res) {
                if (!res) {
                    helper.showErr('Lỗi !!!!');
                    return;
                } else {
                    if (res == -1) {
                        helper.showErr('Lỗi không đọc được thông tin file');
                        return;
                    }
                    if (res == 0) {
                        helper.showErr('Không có kiện nào được cập nhật');
                        return;
                    }

                    if (res == 1) {
                        helper.showSuc('Cập nhật thành công', true);
                        return;
                    }
                }
            }, error: function (e) {
                console.log(e);
            }
        });
    }

    function copy(e) {
        var input = $('#package-code');
        helper.copy(e, input);
    }
</script>