@model IEnumerable<KGQT.Models.tbl_Package>
@using KGQT.Commons

@{
    ViewData["Title"] = "Kiện";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/">Trang chủ</a></li>
    <li><a>Kiện</a></li>
</ul>


<div class="card card mx-2" style="border-radius: 10px;">
    <div class="card-body p-4">
        <!--Start::Thông tin kiện-->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Danh sách ký gửi</h3>
            <div>
                <input type="file" id="exportCNWH" hidden onchange="exportCNWH(this)" />
                <button type="button" class="btn btn-danger btn-sm" onclick="importFile(2)">Cập nhật đơn xuất kho TQ</button>
                <a href="/admin/package/create" class="btn btn-primary btn-sm pointer-event">Thêm đơn</a>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="card shadow-0 border mb-4">
                <div class="card-body p-0 py-2">
                    <div class="row border-bottom p-2 mx-0">
                        <div class="col-md-8 align-self-center">
                            <span class="cursor-pointer">
                                <a href="/admin/package/details?id=@item.ID">@item.PackageCode</a>
                                <i class="fa fa-copy"></i>
                            </span>
                            -
                            <span>Kho nhận: Quảng Châu</span>
                        </div>
                        <div class="col-md-4">
                            <div class="row justify-content-end">
                                <div class="dropdown p-2"> <button class="btn-sm btn bg-orange text-white">Kiểm tra hàng kho TQ</button></div>
                                <div class="dropdown dropdown-hover p-2">
                                    <button class="btn btn-sm px-0 btn-success"
                                            type="button"
                                            id="drStt"
                                            data-mdb-toggle="dropdown"
                                            aria-expanded="false">
                                        @PJUtils.ShippingStatus(item.Status)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row p-2 mx-0 mt-2">
                                <div class="col-md-6">
                                    <span>Loại vận chuyển: @PJUtils.ShippingMethodName(item.MovingMethod)</span>
                                </div>
                                <div class="col-md-6">
                                    Dịch vụ phụ:
                                    @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                    {
                                        <div class="form-check-inline">

                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked disabled>Đóng gỗ
                                            </label>
                                        </div>
                                    }
                                    @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                    {
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked disabled>Bọt khí
                                            </label>
                                        </div>
                                    }
                                    @if (item.IsInsurance != null && item.IsInsurance == true)
                                    {
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked disabled>Bảo hiểm
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row px-2 mx-0 mb-2">
                                <div class="col-md-6">
                                    <div>
                                        <span>Khách hàng: @item.FullName</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <span>Số điện thoại: @item.Phone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="my-2 mr-2 my-2 row col-md-7 col-sm-12 col-xs-12 float-md-right scroll-y-80 timeline">
                                @if (item.ReceivedDate != null)
                                {
                                    <li class="ml-4 mb-2">
                                        <span>Đã nhận hàng - @item.ReceivedDate.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                    </li>
                                }

                                @if (item.ImportedSGWH != null)
                                {
                                    <li class="ml-4 mb-2">
                                        <span>Đã về kho HCM - @item.ImportedSGWH.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                    </li>
                                }

                                @if (item.DateExpectation != null)
                                {
                                    <li class="ml-4 mb-2">
                                        <span>Đang trên đường về HCM - @item.DateExpectation.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                    </li>
                                }

                                @if (item.ExportedCNWH != null)
                                {
                                    <li class="ml-4 mb-2">
                                        <span>Xuất kho Trung Quốc - @item.ExportedCNWH.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row p-2 mx-0 my-2 border-top">
                        <div class="col-md-2">
                            <div class="form-inline text-left">
                                Ngày lên đơn:  &nbsp;<p class=" mb-0"> @(item.CreatedDate.Value.ToString("dd/MM/yyyy"))</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-inline text-left">
                                Tổng tiền hàng:  &nbsp;<p class=" mb-0"> @(item.WeightPrice ?? 0)</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-inline text-left">
                                Vận chuyển:  &nbsp;<p class=" mb-0">@(item.Weight ?? 0)kg - @(item.WeightPrice ?? 0)</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                            {
                                <div class="form-inline text-left">
                                    Phí đóng gỗ: &nbsp;
                                    <p class=" mb-0"> @(item.WeightPrice != null ? item.WeightPrice : "-/-") </p>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (item.IsAirPackage != null && item.IsAirPackage == true)
                            {
                                <div class="form-inline text-left">
                                    Phí bọt khí:  &nbsp;
                                    <p class=" mb-0"> @(item.AirPackagePrice != null ? item.AirPackagePrice : "-/-")</p>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (item.IsAirPackage != null && item.IsAirPackage == true)
                            {
                                <div class="form-inline text-left">
                                    Phí bảo hiểm:  &nbsp;
                                    <p class=" mb-0"> @(item.IsInsurancePrice != null ? item.IsInsurancePrice : "-/-")</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function importFile(type) {
        $('#exportCNWH').click();
    }

    function exportCNWH(o) {
        const ip = $(o).get(0);
        var file = ip.files;
        let form = new FormData();
        form.append("file", file[0]);

        $.ajax({
            url: '/admin/package/EmportChinaWareHouse',
            type: 'POST',
            dataType: 'json',
            data: form,
            contentType: false,
            processData: false,
            success: function () {
                alert('added to temp');
            }, error: function (e) {
                console.log(e);
            }
        });
    }
</script>