@model IEnumerable<KGQT.Models.tbl_Package>
@using KGQT.Commons

@{
    ViewData["Title"] = "Danh sách kiện";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int status = (int)ViewData["status"];
    int page = (int)ViewData["page"];
    int totalRecord = (int)ViewData["totalRecord"];
    int totalPage = (int)ViewData["totalPage"];
    var ID = ViewData["ID"];
    var fromDate = ViewData["fromDate"];
    var toDate = ViewData["toDate"];

}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/">Quản lý ký gửi</a></li>
    <li><a>Danh sách kiện</a></li>
</ul>

<div class="row bg-white p-2">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @*<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="fw-bold mb-0">Trạng thái:</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="nav">
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == -1 || status == 0 ? "bg-danger text-white" : "")" onclick="sort(0)">Tất cả</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 1? "bg-danger text-white" : "")" onclick="sort(1)">Chưa xác nhận</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 2? "bg-danger text-white" : "")" onclick="sort(2)">Hàng về kho TQ</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 3? "bg-danger text-white" : "")" onclick="sort(3)">Đang trên đường về HCM</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 4? "bg-danger text-white" : "")" onclick="sort(4)">Hàng về tới HCM</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 5 ? "bg-danger text-white" : "")" onclick="sort(5)">Đã nhận hàng</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 9 ? "bg-danger text-white" : "")" onclick="sort(9)">Đã hủy</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 10 ? "bg-danger text-white" : "")" onclick="sort(10)">Thất lạc</a>
                    </li>
                    <li class="nav-item py-2 mr-2">
                        <a href="#" class="nav-link text-capitalize btn-sm border btn-light  @(status == 11 ? "bg-danger text-white" : "")" onclick="sort(11)">Không nhận được hàng</a>
                    </li>
                </ul>
            </div>
        </div>*@
        <div class="row py-2">
            <form class="col-lg-12 col-md-12 col-sm-12" id="myform" method="get">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="row">
                            <span class="fw-bold">Nhập mã đơn:</span>
                        </div>
                        <div class="row mt-2">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                @Html.TextBoxFor(model => ID,"",new { @type="search", @class="form-control", @placeholder="Nhập mã đơn hàng" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div>
                            <span class="fw-bold">Trạng thái:</span>
                        </div>
                        <div class="mt-2">
                            <select name="Status" id="Status" class="form-control">
                                <option value="0" selected="@(status == 0)">Tất cả</option>
                                <option value="1" selected="@(status == 1)">Chưa xác nhận</option>
                                <option value="2" selected="@(status == 2)">Hàng về kho TQ</option>
                                <option value="3" selected="@(status == 3)">Đang trên đường về HCM</option>
                                <option value="4" selected="@(status == 4)">Hàng về tới HCM</option>
                                <option value="4" selected="@(status == 5)">Đã nhận hàng</option>
                                <option value="4" selected="@(status == 9)">Đã hủy</option>
                                <option value="4" selected="@(status == 10)">Thất lạc</option>
                                <option value="4" selected="@(status == 11)">Không nhận được hàng</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="row">
                            <span class="fw-bold">Thời gian tạo:</span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                                @Html.TextBoxFor(model => fromDate, "", new { @type="date", @class="form-control w-100" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                                @Html.TextBoxFor(model => toDate, "", new { @type="date", @class="form-control w-100" })
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 d-flex align-items-end justify-content-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <a href="Index" class="text-decoration-none mx-2" title="Làm mới bộ lọc">
                                <i class="fas fa-sync fa-xs"></i>
                            </a>
                            <button type="submit" class="btn btn-sm btn-primary"> <i class="fas fa-search fa-xs"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 card" style="border-radius: 10px;">
        <div class="card-body p-4">
            <!--Start::Thông tin kiện-->
            <div class="row mb-4">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3 class="lead fw-bold mb-0 text-danger text-uppercase">DANH SÁCH KIỆN</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-md-right text-center">
                    <a href="/Admin/Package/Create" class="btn btn-sm btn-success pointer-event w-100px"><i class="fas fa-plus"></i>&nbspThêm</a>
                    <button class="btn btn-sm btn-info pointer-event" data-toggle="modal" data-target="#import"><i class="fas fa-file-excel mr-2"></i>Tạo bằng file</button>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#exportTQ"><i class="fas fa-import fa-xs mr-2"></i>Xuất kho TQ</button>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <input type="text" hidden value="@item.PackageCode" class="package-code">
                <div class="card shadow-0 border mb-4">
                    <div class="card-body p-0">
                        <div class="row mx-0 py-2 border-bottom bg-success text-white">
                            <div class="col-lg-5 col-md-5 col-sm-12 my-auto">
                                <span class="cursor-pointer">
                                    <a href="/admin/package/details?id=@item.ID" class="text-white">@item.PackageCode</a>
                                    <span class="btn-copy" data-value="@item.PackageCode">
                                        <i class="fa fa-copy"></i>
                                    </span>
                                </span>
                                <span class="mx-2"> - </span>
                                <span>Kho nhận: @PJUtils.WareHouse(item.WareHouse)</span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 my-auto">
                                <span>  Ngày lên đơn:  &nbsp;<strong class=" mb-0"> @(item.CreatedDate.Value.ToString("dd/MM/yyyy"))</strong></span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center justify-content-end">
                                <a href="/admin/package/edit?id=@item.ID" class="btn btn-sm bg-warning text-white mr-2">Chỉnh sửa</a>
                                @if (item.Status != 5 && item.Status != 9)
                                {
                                    <button class="btn-sm btn bg-danger text-white mr-2" onclick="cancel(@item.ID)">Hủy đơn</button>
                                }
                                @if (item.Status < 2)
                                {
                                    <button class="btn-sm btn bg-orange text-white mr-2" onclick="checkStatus('@item.PackageCode',@item.SearchBaiduTimes)">Kiểm tra hàng</button>
                                }
                                @if (item.Status == 3)
                                {
                                    <button class="btn-sm btn bg-info text-white mr-2" onclick="instock('@item.ID','@item.PackageCode')">Nhập kho</button>
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row p-2 mx-0 mt-2">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <span>Loại vận chuyển: @PJUtils.ShippingMethodName(item.MovingMethod)</span>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <span>Trạng thái:</span>
                                        @Html.Raw(PJUtils.PackageStatusHtml(item.Status))
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        Dịch vụ phụ:
                                        @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                        {
                                            <div class="form-check-inline">

                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input mt-1" checked disabled>Đóng gỗ
                                                </label>
                                            </div>
                                        }
                                        @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input mt-1" checked disabled>Bọt khí
                                                </label>
                                            </div>
                                        }
                                        @if (item.IsInsurance != null && item.IsInsurance == true)
                                        {
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input mt-1" checked disabled>Bảo hiểm
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="row px-2 mx-0 mb-2">
                                    <div class="col-md-6">
                                        <div>
                                            <span>Khách hàng: @item.FullName</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <span>Số điện thoại: @item.Phone</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="my-2 mr-2 my-2 row col-md-12 col-sm-12 col-xs-12 float-md-right scroll-y-80 timeline">
                                    @if (item.ReceivedDate != null)
                                    {
                                        <li class="ml-4">
                                            <span>Đã nhận hàng - @item.ReceivedDate.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }

                                    @if (item.ImportedSGWH != null)
                                    {
                                        <li class="ml-4">
                                            <span>Đã về kho HCM - @item.ImportedSGWH.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }

                                    @if (item.DateExpectation != null)
                                    {
                                        <li class="ml-4">
                                            <span>Đang trên đường về HCM - @item.DateExpectation.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }

                                    @if (item.ExportedCNWH != null)
                                    {
                                        <li class="ml-4">
                                            <span>Xuất kho Trung Quốc - @item.ExportedCNWH.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row p-2 mx-0 my-2 border-top">
                            <div class="col-md-3">
                                <div class="form-inline text-left">
                                    Vận chuyển:  &nbsp;<p class=" mb-0">@(item.Weight ?? 0)kg -@string.Format("{0:N0}",item.WeightPrice != null ? item.WeightPrice : 0).Replace(",", ".")đ</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-inline text-left">
                                    Phí đóng gỗ: &nbsp;
                                    @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                    {
                                        <p class=" mb-0"> @string.Format("{0:N0}",item.WoodPackagePrice != null ? item.WoodPackagePrice : 0).Replace(",", ".")đ </p>
                                    }

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-inline text-left">
                                    Phí bọt khí:  &nbsp;
                                    @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                    {
                                        <p class=" mb-0">@string.Format("{0:N0}",item.AirPackagePrice != null ? item.AirPackagePrice : 0).Replace(",", ".")đ</p>
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-inline text-left">
                                    Phí bảo hiểm:  &nbsp;
                                    @if (item.IsInsurance != null && item.IsInsurance == true)
                                    {
                                        <p class=" mb-0">@string.Format("{0:N0}",item.IsInsurancePrice != null ? item.IsInsurancePrice : 0).Replace(",", ".")đ</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--Start: Phân trang-->
<div class="row p-2">
    <div class="col-4 align-self-center">
        <span>
            Tổng số:&nbsp
            <b>@totalRecord</b>
        </span>
    </div>
    <div class="col-7">
        @if (totalPage > 1)
        {
            <nav class="d-flex justify-content-end">
                <ul class="pagination m-0">
                    <li class="@(page <=1 ? "page-item disabled" : "page-item cursor-pointer")">
                        <a class="page-link" onclick="getPage(@(page - 1))" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" id="pageNumber">
                            @(page)
                        </a>
                    </li>
                    <li class="@(page >= totalPage ? "page-item disabled" : "page-item cursor-pointer")">
                        <a class="page-link" onclick="getPage(@(page + 1))" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                </ul>
            </nav>
        }
    </div>
</div>

<!--Modal import file-->
<div class="modal fade" id="import" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white text-uppercase fw-bold" id="exampleModalLongTitle"><i class="fas fa-file-excel mr-2"></i>Tạo mã vận đơn bằng file CSV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="uploadExcel">
                    <div class="form-group mb-4">
                        <label class="required">File Excel:</label>
                        <input type="file" class="form-control" id="importcsv">
                    </div>
                    <div class="form-group mb-4">
                        <label class="required" for="txtShipID">Tên Sheet:</label>
                        <input type="text" class="form-control" id="sheetImport" name="txtSheet" placeholder="Nhập tên sheet cần đọc dữ liệu (cần nhập chính xác tên)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="importCsv()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<!--Modal import file-->
<!--Modal upload file-->
<div class="modal fade" id="exportTQ" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white text-uppercase fw-bold" id="exampleModalLongTitle"><i class="fas fa-file-excel mr-2"></i>Đọc dữ liệu từ file excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="uploadExcel">
                    <div class="form-group mb-4">
                        <label class="required" for="exportCNWH">File Excel:</label>
                        <input type="file" class="form-control" id="exportCNWH">
                    </div>
                    <div class="form-group mb-4">
                        <label class="required" for="txtShipID">Tên Sheet:</label>
                        <input type="text" class="form-control" id="txtSheet" name="txtSheet" placeholder="Nhập tên sheet cần đọc dữ liệu (cần nhập chính xác tên)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="exportCNWH()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<!--Modal upload file-->
<!--Modal instock pack-->
<div class="modal fade" id="instock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white text-uppercase fw-bold"><i class="fas fa-file-excel mr-2"></i>Nhập kho kiện:<b id="package-code"></b></h5>
                <button type="button" class="close" onclick="dismiss('instock')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="package-form">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="dismiss('instock')">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="submitInstock()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<!--Modal import file-->
<div id="copied-success" class="copied"><span>Đã copy ✅!</span></div>
<script>
    var packId;
    function getPage(pageIndex) {
        var totalPage = @totalPage;
        if (pageIndex <= 0 || pageIndex > totalPage)
            return;
        if (!location.href.includes("page=")) {
            if (location.href.charAt(location.href.length - 1) == "=")
                location.href += `&page=${pageIndex}`;
            else
                location.href += `?page=${pageIndex}`;
        }
        else
            location.href = location.href.replace(`page=${@(page)}`, `page=${pageIndex}`);
    }

    function importCsv() {
        let file = $("#importcsv")[0].files;
        let sheet = $("#sheetImport").val();
        let form = new FormData();
        form.append("file", file[0]);
        form.append("sheet", sheet);
        $.ajax({
            url: '/admin/package/CreateWithFile',
            type: 'POST',
            dataType: 'json',
            data: form,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.isError) {
                    helper.showErr(res.message);
                } else {
                    let html = `<div class="text-success"><span>${res.data.success}</span></div>`;

                    if (res.data.exist)
                        html += `<div>Mã vận đơn đã tồn tại trong hệ thống: <span class="text-warning"> ${res.data.exist} </span></div>`;
                    if (res.data.error)
                        html += `<div>Mã vận đơn thêm không thành công: <span class="text-danger">${res.data.error}</span></div>`;

                    Swal.fire({
                        title: "Thông báo",
                        icon: "info",
                        html: html,
                        showCloseButton: true,
                        showCancelButton: false,
                        confirmButtonText: "Đóng"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                }
            }, error: function (e) {
                console.log(e);
            }
        });
    }


    function exportCNWH() {
        let file = $("#exportCNWH")[0].files;
        let sheet = $("#txtSheet").val();
        let form = new FormData();
        form.append("file", file[0]);
        form.append("sheet", sheet);
        $.ajax({
            url: '/admin/package/ExportChinaWareHouse',
            type: 'POST',
            dataType: 'json',
            data: form,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.isError) {
                    helper.showErr(res.message);
                } else {
                    Swal.fire({
                        title: "Thành công!",
                        text: res.message,
                        icon: "success",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        cancelButtonText: "Không tải",
                        confirmButtonText: "Tải file"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/admin/package/DownloadFile?fileName=' + res.data,
                                type: 'Get',
                                xhrFields: {
                                    responseType: 'blob'
                                },
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                    let sPath = res.data.split("/");
                                    let fName = sPath[sPath.length - 1];
                                    let a = document.createElement('a');
                                    let url = window.URL.createObjectURL(data);
                                    a.href = url;
                                    a.download = fName;
                                    document.body.append(a);
                                    a.click();
                                    a.remove();
                                    window.URL.revokeObjectURL(url);
                                    window.location.reload();
                                }, error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                        else {
                            window.location.reload();
                        }
                    });
                }
                $("#uploadExcel")[0].reset();

            }, error: function (e) {
                console.log(e);
            }
        });
    }

    function cancel(id) {
        $.ajax({
            url: '/admin/Package/Cancel',
            type: 'POST',
            data: { id },
            // other AJAX options here
            success: function (result) {
                if (!result)
                    helper.showErr('Hủy thất bại!')
                else
                    helper.showSuc('Hủy đơn thành công!')
            },
            error: function (xhr, status, err) {
                // error handling
            }
        });
    }
    //<!--------------Start: Nhập kho---------------->
    function instock(id, code) {
        $('#package-code').text(code);
        this.packId = id;
        $.ajax({
            url: '/admin/package/InStockPartial',
            type: 'GET',
            data: { code },
            success: function (resonse) {
                $('#package-form').html(resonse);
                $('#instock').modal('show');
            }, error: function (e) {
                console.log(e);
            }
        });
    }

    function submitInstock() {
        let weight = $('#txtWeight').val();
        let wood = 0;
        let air = 0;

        let $wood = $('#txtFeePack');
        let $air = $('#txtAirPackage');
        
        if (!weight) {
            helper.showErr('Vui lòng nhập cân nặng!');
            return;
        }
        if ($wood.length) {
            wood = $wood.data('value');
            if (!wood) {
                helper.showErr('Vui lòng nhập phí đóng gỗ!');
                return;
            }
        }
        if ($air.length) {
            air = $air.data('value');
            if (!air) {
                helper.showErr('Vui lòng nhập phí quấn bọt khí!');
                return;
            }
        }

        $.ajax({
            url: '/admin/Package/InStockPackage',
            method: 'POST',
            dataType: 'json',
            data: { id:this.packId, weight, woodPrice: wood, airPrice: air },
            success: function (res) {
                if (res)
                    helper.showSuc("Cập nhật thành công");
            },
            error: function (err) {
                console.log(err)
            }
        })
    }
    //<!--------------End: Nhập kho---------------->


    function checkStatus(code, times) {
        if (!times) {
            Swal.fire({
                title: "Chú ý",
                text: "Đơn này chưa phát sinh lần tìm kiếm nào, tiếp tục sẽ tốn phí 500đ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Từ chối"
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = "/admin/package/QueryOrderStatus?code=" + code;
                }
            });
        } else
            location.href = "/admin/package/QueryOrderStatus?code=" + code;
    }

    function dismiss(name) {
        $("#" + name).modal('hide');
    }
    $(document).ready(function () {
        $('.btn-copy').off('click').on('click', function () {
            let text = $(this).data('value');
            $(this).select();
            navigator.clipboard.writeText(text);
            $('#copied-success').css('opacity', '1');
            setTimeout(function () { $('#copied-success').css("opacity", 0) }, 500);
        })
    })

</script>