@model KGQT.Models.temp.AccountInfo
@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var ID = ViewData["ID"];

}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/Home/Dashboard">Trang chủ</a></li>
    <li><a class="active">Thông tin tài khoản</a></li>
</ul>

<div class="row justify-content-center py-4">
    <div class="col-lg-8 col-md-12 col-sm-12" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <form class="row bg-white justify-content-center p-4" id="formUser">
            <!--Start:Hình ảnh-->

            <div class="col-lg-12 col-md-3 col-sm-12">
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-3 col-md-12 col-sm-3">
                        <div class="text-center">
                            @{
                                if (!string.IsNullOrEmpty(Model.IMG))
                                {
                                    <img class="rounded-circle mb-2 w-100" src="@Model.IMG" height="150" />
                                }
                                else
                                {
                                    <img class="rounded-circle mb-2" src="~/img/avt-user-emty.jpg" width="150" height="150" />
                                }
                            }
                        </div>
                        <div class="text-center mb-2">
                            <p title="@Model.FullName" class="fw-bold text-truncate text-uppercase text-nsh1 m-0">@Model.FullName</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-9 col-sm-12" >
                <!--Start:Thông tin cá nhân-->
                <div class="row">
                    <h6 class="text-primary">THÔNG TIN CÁ NHÂN</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="FirstName">Họ</label>
                            <input name="FirstName" id="FirstName" value="" type="text" class="form-control" placeholder="Họ"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="LastName">Tên</label>
                            <input name="LastName" id="LastName" value="" type="text" class="form-control" placeholder="Tên"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="FirstName">Ngày sinh</label>
                            <input name="BirthDay" id="BirthDay" value="@(Model.BirthDay != null ? Model.BirthDay.Value.ToString("dd/MM/yyyy") : "")" type="datetime" class="form-control" placeholder="dd/MM/yyy"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Gender">Giới tính</label>
                            @if (Model.Gender != null)
                            {
                                <input name="Gender" id="Gender" value="@(Model.Gender ? "Nam" : "Nữ")" type="text" class="form-control" placeholder="Giới tính"/>
                            }
                            else
                            {
                                <input name="Gender" id="Gender" value="" type="text" class="form-control" placeholder="Giới tính"/>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input name="Email" id="Email" value="@Model.Email" type="email" class="form-control" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Phone">SDT</label>
                            <input name="Phone" id="Phone" value="@Model.Phone" type="text" class="form-control" placeholder="Số điện thoại"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Address">Địa chỉ</label>
                            <input name="Address" id="Address" value="@Model.Address" type="text" class="form-control" placeholder="Địa chỉ"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Wallet">Ví cá nhân</label>
                            <input name="Wallet" id="Wallet" value="@string.Format("{0:N0}",Model.Wallet).Replace(",",".")đ" class="form-control text-nsh1" placeholder="0đ" readonly />
                        </div>
                    </div>
                </div>
                <br />

                <!--Thông tin tài khoản-->
                <div class="row">
                    <h6 class="text-primary">TÀI KHOẢN</h6>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="UserName">Tài khoản</label>
                            <input name="UserName" id="UserName" value="@Model.UserName" type="text" class="form-control" placeholder="Tài khoản" disabled />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Password">Mật khẩu</label>
                            <input name="Password" id="Password" value="@Model.Password" type="Password" class="form-control" placeholder="Mật khẩu" disabled />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mt-2">
                    <a class="btn btn-success w-100px" onclick="update()" href="#">Cập nhật</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function update() {
        var data = helper.form2Object($('#formUser').serializeArray());
        $.ajax({
            url: '/User/Update',
            type: 'Post',
            data: { ID: @ID, form: data },
            // other AJAX options here
            success: function (result) {
                if (result.error) {
                    helper.showErr(result.mssg);
                } else
                    helper.showSuc("Cập nhật thành công");
            },
            error: function (xhr, status, err) {
                helper.showErr("Hệ thống thực thi không thành công!");
            }
        });
    }
</script>

