@model IEnumerable<KGQT.Models.tbl_Questions>
@{
    ViewData["Title"] = "Câu hỏi thường gặp";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int pageCurrent = ViewBag.pageCurrent;
    int numberPage = ViewBag.numberPage;
    int numberRecord = ViewBag.numberRecord;
}

<div class="row mb-2">
    <ul id="breadcrumbs">
        <li class="text-uppercase"><a href="/Home/Dashboard">Trang chủ</a></li>
        <li class="text-uppercase fw-bold"><a class="active">Câu hỏi thường gặp</a></li>
    </ul>
</div>
<div class="row my-4">
    <div class="col-12">
        <h5 class="fw-bold text-nsh1 text-uppercase m-0">Câu hỏi thường gặp</h5>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header" id="@("heading"+item.ID)">
                        <div class="alert alert-warning fs-6" role="alert" data-toggle="collapse" data-target="#@("collapse" + item.ID)" aria-expanded="false" aria-controls="@("collapse"+item.ID)">
                            @item.Question
                        </div>
                    </div>

                    <div id="@("collapse"+item.ID)" class="collapse" aria-labelledby="@("heading"+item.ID)" data-parent="#accordionExample">
                        <div class="card-body">
                            @item.Answer
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row p-2">
    <div class="col-4 align-self-center">
        <span>
            Tổng số:&nbsp
            <b>@numberRecord</b>
        </span>
    </div>
    <div class="col-8">
        @if (numberPage > 1)
        {
            <nav class="d-flex justify-content-end">
                <ul class="pagination m-0">
                    @{
                        int offset = 2; // number display page
                        if (pageCurrent > 1)
                        {
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,1,@numberPage)">
                                    <i class="fas fa-fast-backward"></i>
                                </button>
                            </li>
                            int prevPage = pageCurrent - 1;
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@prevPage,@numberPage)">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </button>
                            </li>
                        }

                        int from = pageCurrent - offset;
                        int to = pageCurrent + offset;
                        if (from <= 0)
                        {
                            from = 1;
                            to = offset * 2;
                        }

                        if (to > numberPage)
                        {
                            to = numberPage;
                        }

                        int i;
                        for (i = from; i <= to; i++)
                        {
                            <li class="@(pageCurrent == i ? "page-item active" : "page-item")">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@i,@numberPage)">@i</button>
                            </li>
                        }
                        if (pageCurrent < numberPage - (to / 2))
                        {
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        }
                        if (pageCurrent < numberPage)
                        {
                            int nextPage = pageCurrent + 1;
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@nextPage,@numberPage)">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </li>
                        }
                        if (pageCurrent < numberPage)
                        {
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@numberPage,@numberPage)">
                                    <i class="fas fa-fast-forward"></i>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </nav>
        }
    </div>
</div>

