@model List<KGQT.Models.tbl_ShippingOrder>
@using KGQT.Models.temp
@using KGQT.Commons
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Danh sách ký gửi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string ID = "";
    DateTime? fromDate = null;
    DateTime? toDate = null;
    int status = (int)ViewData["status"];
    int page = (int)ViewData["page"];
    int totalRecord = (int)ViewData["totalRecord"];
    int totalPage = (int)ViewData["totalPage"];
}
<div class="container-fluid h-100">
    <div class="row">
        <ul id="breadcrumbs">
            <li><a href="/admin">Trang chủ</a></li>
            <li><a href="#">Danh sách ký gửi</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-column p-2">
            <div class="row bg-white px-2 py-2">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <p class="fw-bold mb-0">Trạng thái:</p>
                        </div>
                        <div class="col-12">
                            <ul class="nav">
                                <li class="nav-item py-2 mr-4">
                                    <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == -1 || status == 0 ? "bg-danger text-white" : "")" onclick="sort(0)">Tất cả</a>
                                </li>
                                <li class="nav-item py-2 mr-4">
                                    <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == 1 ? "bg-danger text-white" : "")" onclick="sort(1)">Đã thanh toán</a>
                                </li>
                                <li class="nav-item py-2 mr-4">
                                    <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == 2 ? "bg-danger text-white" : "")" onclick="sort(2)">Đã hủy</a>
                                </li>
                                <li class="nav-item py-2 mr-4">
                                    <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == 3 ? "bg-danger text-white" : "")" onclick="sort(3)">Thất lạc</a>
                                </li>
                                <li class="nav-item py-2 mr-4">
                                    <a href="#" class="nav-link text-capitalize btn-sm border btn-light @(status == 4 ? "bg-danger text-white" : "")" onclick="sort(4)">Không nhận hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row py-2">
                        <form class="col" id="myform" method="get">
                            <div class="row">
                                <div class="col-5">
                                    <div>
                                        <span class="fw-bold" id="">Nhập mã đơn:</span>
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => ID,new { @type="text",@class="form-control w-100",@placeholder="Nhập mã đơn hàng"})
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="row col">
                                        <span class="fw-bold">Thời gian tạo:</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            @Html.TextBoxFor(model => fromDate,new { @type="date",@class="form-control w-100"})
                                        </div>
                                        <div class="col-6">
                                            @Html.TextBoxFor(model => toDate,new { @type="date",@class="form-control w-100"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* <div class="row py-2">
                            <div class="col">
                            <div class="d-flex align-items-center justify-content-between">
                            <div>
                            <span class="text-primary cursor-pointer">
                            <i class="fas fa-chevron-down fa-xs"></i>
                            Mở rộng tìm kiếm
                            </span>
                            </div>
                            <div>
                            <span class="cursor-pointer mr-2" id="resetForm" onclick="resetForm()">
                            <a href="index?page=1" class="text-decoration-none">
                            <i class="fas fa-sync fa-xs"></i>
                            Làm mới bộ lọc
                            </a>
                            </span>
                            <button type="submit" class="btn btn-sm btn-primary">
                            Tìm kiếm
                            </button>
                            </div>
                            </div>
                            </div>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
            <div class="row bg-white mt-2">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="text-danger text-uppercase m-0">Danh sách đơn ký gửi</h5>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-sm">
                            <thead class="thead-light">
                                <tr class="font-weight-normal">
                                    <th class="text-center" scope="col">
                                        Mã đơn
                                    </th>
                                    <th class="text-center" scope="col">
                                        Vận chuyển
                                    </th>
                                    <th class="text-center">
                                        Dịch vụ
                                    </th>
                                    <th class="text-center">
                                        Trạng thái
                                    </th>
                                    <th class="text-center">
                                        Đơn giá
                                    </th>
                                    <th class="text-center">
                                        Chi tiết
                                    </th>
                                    <th class="text-center">
                                        Người tạo
                                    </th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="table-light font-weight-normal">
                                        <td class="text-left">
                                            @Html.DisplayFor(modelItem => item.ShippingOrderCode)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.ShippingMethodName)
                                        </td>
                                        <td class="text-left" style="vertical-align:middle">
                                            <div class="form-group mb-0">
                                                @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                                {
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                        <label class="form-check-label" for="cbPack">Đóng gỗ</label>
                                                    </div>
                                                }
                                                @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                                {
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                        <label class="form-check-label" for="cbAirbag">Túi khí</label>
                                                    </div>
                                                }
                                                @if (item.InsurancePrice != null && item.IsInsurance == true)
                                                {
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" checked>
                                                        <label class="form-check-label" for="cbInsurance">Bảo hiểm</label>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        <td class="text-center" style="vertical-align:middle">
                                            @Html.Raw(PJUtils.ShippingOrderStatusHtml(item.Status))
                                        </td>
                                        <td class="text-center" style="vertical-align:middle">
                                            @Html.DisplayFor(modelItem => item.TotalPrice)
                                        </td>
                                        <td class="text-center" style="vertical-align:middle">
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td class="text-center" style="vertical-align:middle">
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-secondary" href="/Admin/ShippingOrder/Details?id=@item.ID">
                                                <i class="far fa-edit"></i>
                                                <span>Xem</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <span>
                Tổng số:&nbsp
                <b>@totalRecord</b>
            </span>
        </div>
        <div class="col-11">
            @if(totalPage > 1)
            {
                <nav class="d-flex justify-content-center">
                    <ul class="pagination m-0">
                        <li class="@(page <=1 ? "page-item disabled" : "page-item cursor-pointer")">
                            <a class="page-link" onclick="getPage(@(page - 1))" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" id="pageNumber">
                                @(page)
                            </a>
                        </li>
                        <li class="@(page >= totalPage ? "page-item disabled" : "page-item cursor-pointer")">
                            <a class="page-link" onclick="getPage(@(page + 1))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

<script>
    function getPage(pageIndex) {
        var totalPage = @totalPage;
        if (pageIndex <= 0 || pageIndex > totalPage)
            return;
        if (!location.href.includes("page="))
            location.href += `?page=${pageIndex}`;
        else
            location.href = location.href.replace(`page=${@(page)}`, `page=${pageIndex}`);
    }
</script>

