@model List<KGQT.Models.tbl_ShippingOrder>
@using KGQT.Models.temp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int status = 0;
    string timeSets = "d";
    string searchText = "";
    DateTime? fromDate = null;
    DateTime? toDate =  null;
}

<div class="container-fluid h-100 position-relative">
    @*Bread Crumbs*@
    <div class="row">
        <ul id="breadcrumbs">
            <li><a href="/admin">Trang chủ</a></li>
            <li><a>Danh sách ký gửi</a></li>
        </ul>
    </div>
    @*Title Page*@
    <div class="row mt-2">
        <div class="col">
            <h2 class="text-danger text-uppercase">Danh sách ký gửi</h2>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <a class="nav-link btn btn-sm btn-success" asp-action="Create" asp-method="post">+ Tạo mới</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="d-flex flex-column bg-white w-100 p-2">
            @*Filter*@
            <div class="d-flex align-items-center justify-content-between">
                <div class="">
                    <div class="d-flex align-items-center justify-content-start">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-filter"></i>
                            </button>
                            <div class="dropdown-menu p-4 w-400px" aria-labelledby="dropdownMenuButton">
                                <form method="post" action="filter" class="w-100" id="formSort">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label class="d-block fw-bold" for="dropdowStatus">Trạng thái đơn hàng</label>
                                            @*<select class="form-control w-100" name="status" id="status">
                                                <option value=0>Tất cả</option>
                                                <option value=1>Đang giao</option>
                                                <option value=2>Đã giao</option>
                                            </select>*@
                                            @Html.DropDownList("status", new SelectList(new FilterShippingOrder().Status,"ID","Name"),new {@class="form-control w-100"})
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label class="d-block fw-bold" for="dropdowTime">Khoảng thời gian</label>
                                            @*<select class="form-control w-100" id="dropdowTime" name="TimeOption" onchange="selectedTime()">
                                                <option value="d">Hôm nay</option>
                                                <option value="w">Trong tuần</option>
                                                <option value="m">Trong tháng</option>
                                                <option value="y">Trong năm</option>
                                            </select>*@
                                            @Html.DropDownList("timeSets", new SelectList(new FilterShippingOrder().TimeSets,"ID","Name"),new {id="dropdowTime",@class="form-control w-100", onchange="selectedTime()"})
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group w-100">
                                                <label class="d-block fw-bold" for="inputFromTime">Từ ngày</label>
                                                @Html.TextBoxFor(Model => fromDate,new { @type="date", @class="form-control w-100", @id="inputFromTime", @name="fromDate" })
                                                @*<input type="date" class="form-control w-100" id="inputFromTime" name="FromDate">*@
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group w-100">
                                                <label class="d-block fw-bold" for="inputToTime">Đến ngày</label>
                                                @Html.TextBoxFor(Model => toDate,new { @type="date", @class="form-control w-100", @id="inputToTime", @name="toDate" })
                                                @*<input type="date" class="form-control w-100" id="inputToTime" name="ToDate">*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-end border-top border-secondary pt-2 w-100">
                                            <button type="submit" class="btn btn-primary w-100px mr-2">Đặt lại</button>
                                            <button type="submit" class="btn btn-primary w-100px">Lọc</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        @*@if (ViewData?["Predicate"] != null)
                        {
                            <div>
                                @ViewData?["Predicate"]
                            </div>
                        }*@
                    </div>
                    
                </div>
                <div class="">
                    <form method="post" action="Search">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="input-group w-300px">
                                @Html.TextBoxFor(Model => searchText,new{ @type="text", @class="form-control",@id="inputSearch", @placeholder="Tìm kiếm" })
                                @*<input type="text" class="form-control" id="inputSearch" placeholder="Tìm kiếm"/>*@
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text btn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @*table*@
            <div class="mt-2">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th class="font-weight-normal text-left" scope="col">
                                    MĐH
                                </th>
                                <th class="font-weight-normal text-center" scope="col">
                                    Ngày tạo
                                </th>
                                <th class="font-weight-normal text-center" scope="col">
                                    Ngày dự kiến
                                </th>
                                <th class="font-weight-normal text-left" scope="col">
                                    Khách hàng
                                </th>
                                <th class="font-weight-normal text-center" scope="col">
                                    Tổng giá
                                </th>
                                <th class="font-weight-normal text-center" scope="col">
                                    Trạng thái
                                </th>
                                <th class="font-weight-normal text-center" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="table-light">
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.ShippingOrderCode)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.DateExpectation)
                                    </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td class="text-center">
                                        <a class="text-primary" href="/admin/shippingorder/Details?id=@item.ID">
                                            <i class="far fa-edit"></i>
                                            <span>Xem</span>
                                        </a> |
                                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.ID">
                                            <i class="fas fa-trash-alt"></i>
                                            <span>Xóa</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </div>
    @*page*@
    <div class="d-flex justify-content-between align-items-center bg-white p-2" id="pageShippingOrder">
        <div class="">
            <span>Tổng số:&nbsp<b>@Model.Count</b></span>
        </div>
        <div>
            <nav>
                <ul class="pagination m-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
