@model IEnumerable<KGQT.Models.tbl_Complain>

@{
    ViewData["Title"] = "Quản lí khiếu nại";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    string transId = ViewBag.transId;
    DateTime? fromDate = ViewBag.fromDate;
    DateTime? toDate = ViewBag.toDate;
    int status = ViewBag.status;
    int pageCurrent = ViewBag.pageCurrent;
    int numberPage = ViewBag.numberPage;
    int numberRecord = ViewBag.numberRecord;
}

<div class="row mb-2 w-100">
    <ul class="ps-2" id="breadcrumbs">
        <li class="text-uppercase"><a href="/admin/home">Trang chủ</a></li>
        <li class="text-uppercase fw-bold"><a class="active">Danh sách khiếu nại</a></li>
    </ul>
</div>
<div class="row p-2 mb-2 w-100">
    <div class="col-12">
        <form class="row align-items-center align-items-stretch" id="myform">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <p class="m-0">Khách hàng:</p>
                @Html.TextBoxFor(model => transId, "", new { @type="text", @class="form-control w-100", @placeholder="Nhập mã đơn hàng" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <p class="m-0">Từ ngày:</p>
                @Html.TextBoxFor(model => fromDate, "", new { @type="date", @class="form-control w-100" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <p class="m-0">Đến ngày:</p>
                @Html.TextBoxFor(model => toDate, "", new { @type="date", @class="form-control w-100" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <p class="m-0">Trạng thái:</p>
                <select name="status" id="status" class="form-control">
                    <option value="" @(status == 0 ? "selected" : "")>Tất cả</option>
                    <option value="1" @(status == 1 ? "selected" : "")>Chưa xử lí</option>
                    <option value="2" @(status == 2 ? "selected" : "")>Đã xử lí</option>
                    <option value="3" @(status == 3 ? "selected" : "")>Từ chối</option>

                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="d-flex align-items-end justify-content-end h-100">
                    <a href="Index" class="btn btn-sm btn-info mr-2 w-100px">
                        <i class="fas fa-sync fa-xs"></i> Xóa lọc
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary w-100px"><i class="fas fa-search fa-xs mr-2"></i>Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row p-2 mb-2 w-100">
    <div clss="col-12">
        <div class="d-flex flex-column w-100">
            <h5 class="fw-bold text-uppercase text-nsh1">KHIẾU NẠI</h5>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="fw-normal text-uppercase">
                    <th class="text-left">Ngày tạo</th>
                    <th class="text-left">Khách hàng</th>
                    <th class="text-left">Loại</th>
                    <th class="text-left">Nội dung</th>
                    <th class="text-center">Trạng thái</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">
                            @if (item.CreatedDate != null)
                            {
                                <span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                            }
                            else
                            {
                                <span>dd/mm/yyy</span>
                            }
                        </td>
                        <td class="text-left align-middle">
                            @item.CreatedBy
                        </td>
                        <td class="text-left align-middle">
                            @{
                                if(item.Type == 0)
                                {
                                    <span>Khiếu nại thiếu hàng</span>
                                }
                                else if (item.Type == 1)
                                {
                                    <span>Khiếu nại sai mẫu (bồi thường)</span>
                                }
                                else if (item.Type == 2)
                                {
                                    <span>Khiếu nại sai mẫu (trả hàng)</span>
                                }
                                else if (item.Type == 3)
                                {
                                    <span>Lỗi hệ thống</span>
                                }
                            }
                        </td>
                        <td class="text-left align-middle">
                            @item.Context
                        </td>
                        <td class="text-center align-middle">
                            @if (item.Status == 1)
                            {
                                <span>Chưa xử lí</span>
                            }
                            else if (item.Status == 2)
                            {
                                <span>Đã xử lí</span>
                            }
                            else if (item.Status == 3)
                            {
                                <span>Từ chối</span>
                            }
                        </td>
                        <td class="text-right align-middle">
                            <a href="Detail?ID=@item.ID" class="btn btn-sm btn-secondary w-100px">
                                <span>Chi tiết</span>
                            </a>
                            @if (item.Status == 1)
                            {
                                <button type="button" class="btn btn-sm bg-nsh2 w-100px" onclick="clickUpdateStatus(@item.ID,2)">
                                    <span>Xác nhận</span>
                                </button>
                                <button type="button" class="btn btn-sm bg-nsh1 w-100px" onclick="clickUpdateStatus(@item.ID,3)">
                                    <span>Từ chối</span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row p-2 w-100">
    <div class="col-4 align-self-center">
        <span>
            Tổng số:&nbsp
            <b>@numberRecord</b>
        </span>
    </div>
    <div class="col-8">
        @if (numberPage > 1)
        {
            <nav class="d-flex justify-content-end">
                <ul class="pagination m-0">
                    @{
                        int offset = 2; // number display page
                        if (pageCurrent > 1)
                        {
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,1,@numberPage)">
                                    <i class="fas fa-fast-backward"></i>
                                </button>
                            </li>
                            int prevPage = pageCurrent - 1;
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@prevPage,@numberPage)">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </button>
                            </li>
                        }

                        int from = pageCurrent - offset;
                        int to = pageCurrent + offset;
                        if (from <= 0)
                        {
                            from = 1;
                            to = offset * 2;
                        }

                        if (to > numberPage)
                        {
                            to = numberPage;
                        }

                        int i;
                        for (i = from; i <= to; i++)
                        {
                            <li class="@(pageCurrent == i ? "page-item active" : "page-item")">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@i,@numberPage)">@i</button>
                            </li>
                        }
                        if (pageCurrent < numberPage - (to / 2))
                        {
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        }
                        if (pageCurrent < numberPage)
                        {
                            int nextPage = pageCurrent + 1;
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@nextPage,@numberPage)">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </li>
                        }
                        if (pageCurrent < numberPage)
                        {
                            <li class="page-item">
                                <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@numberPage,@numberPage)">
                                    <i class="fas fa-fast-forward"></i>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </nav>
        }
    </div>
</div>

<script>
    function clickUpdateStatus(id,status) {
        $.ajax({
            url: '/Admin/Complain/UpdateStatus',
            type: 'POST',
            data: { ID: id, Status: status },
            success: function (result) {
                if (result.isError)
                    helper.showErr(result.message);
                else
                    helper.showSuc(result.message);
            },
            error: function (xhr, status, err) {
                helper.showErr("Hệ thống thực thi không thành công. Vui lòng thử lại sau!");
            }
        });
    }
</script>