@model List<KGQT.Models.tbl_FeeWeight>;
@using KGQT.Models.temp;

@{
    ViewData["Title"] = "Phí vận chuyển";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int type = (int)ViewData["type"];
    int page = (int)ViewData["page"];
    int totalRecord = (int)ViewData["totalRecord"];
    int totalPage = (int)ViewData["totalPage"];
    var lstFeeWeightType = ViewData["lstFeeWeightType"] as List<FeeweightCategory>;

}

<div class="container-fluid h-100">
    <div class="row mb-2">
        <ul id="breadcrumbs">
            <li><a href="/">Thiết lập</a></li>
            <li><a>Phí vận chuyển</a></li>
        </ul>
    </div>
    <div class="row bg-white p-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row mb-2">
                <h5 class="fw-bold text-danger text-uppercase mb-0">PHÍ VẬN CHUYỂN</h5>
            </div>
            <div class="row mb-2">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <form class="row text-left" id="myform">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <select name="Type" id=" Type" class="form-control">
                                <option value="" @(type == 0 ? "selected" : "")>Tất cả</option>
                                <option value="" @(type == 1 ? "selected" : "")>Tuyến bay nhanh</option>
                                <option value="1" @(type == 2 ? "selected" : "")>Tuyến bay thường</option>
                                <option value="2" @(type == 3 ? "selected" : "")>Tuyến bộ</option>
                                <option value="2" @(type == 4 ? "selected" : "")>Tuyến lô</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 d-flex align-items-end justify-content-end">
                            <div class="d-flex align-items-center">
                                <a href="Index" class="text-decoration-none mx-2" title="Làm mới bộ lọc">
                                    <i class="fas fa-sync fa-xs"></i>
                                </a>
                                <button type="submit" class="btn btn-sm btn-primary w-100px">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-right">
                    <button class="btn btn-sm btn-success w-100px" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i>&nbspThêm</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-left">STT</th>
                        <th class="text-center">Cân nặng</th>
                        <th class="text-center">Giá tiền</th>
                        <th class="text-center">Gói vận chuyển</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i = i + 1;
                            <tr>
                                <td class="text-left align-middle">
                                    <span>@(((page - 1) * 10) + i)</span>
                                </td>
                                <td class="text-center align-middle">
                                    <span>@(item.WeightFrom + "-" + item.WeightTo + " kg")</span>
                                </td>
                                <td class="text-center align-middle text-danger">
                                    @string.Format("{0:N0}",item.Amount != null ? item.Amount : 0).Replace(",", ".")đ
                                </td>
                                <td class="text-center align-middle">
                                    @switch (item.Type)
                                    {
                                        case 1:
                                            <span>Tuyến bay nhanh</span>
                                            break;
                                        case 2:
                                            <span>Tuyến bay thường</span>
                                            break;
                                        case 3:
                                            <span>Tuyến bộ</span>
                                            break;
                                        case 4:
                                            <span>Tuyến lô</span>
                                            break;
                                    }
                                </td>
                                <td class="text-center align-middle">
                                    <a class="btn btn-sm btn-danger" onclick="clickDelete(@item.ID)">
                                        <i class="fas fa-trash-alt"></i>
                                        <span>Xóa</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row bg-white p-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <span>
                Tổng số:&nbsp
                <b>@totalRecord</b>
            </span>
        </div>
        <div class ="col-lg-6 col-md-6 col-sm-6">
            @if (totalPage > 1)
            {
                <nav class="d-flex justify-content-end">
                    <ul class="pagination m-0">
                        <li class="@(page <=1 ? "page-item disabled" : "page-item cursor-pointer")">
                            <a class="page-link" onclick="getPage(@(page - 1))" aria-label="Previous" title="Trang trước">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" id="pageNumber">
                                @(page)
                            </a>
                        </li>
                        <li class="@(page >= totalPage ? "page-item disabled" : "page-item cursor-pointer")">
                            <a class="page-link" onclick="getPage(@(page + 1))" aria-label="Next" title="Trang sau">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            }
        </div>
    </div>

</div>

<!-- popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Phí Vận chuyển</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container-fluid" id="formFeeWeight">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-group">
                            <div>
                                <span class="fw-bold">Tuyến vận chuyển</span>
                                <span class="text-danger">(*)</span>
                            </div>

                            <select name="Type" class="form-control">
                                @if(lstFeeWeightType != null)
                                {
                                    foreach (var item in lstFeeWeightType)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <div>
                                <span class="fw-bold">Cân nặng từ</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <input class="form-control form-control-user border-none rounded" name="WeightFrom" placeholder="Từ" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <div>
                                <span class="fw-bold">Cân nặng đến</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <input class="form-control form-control-user border-none rounded" name="WeightTo" placeholder="Đến" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-group">
                            <div>
                                <span class="fw-bold">Giá tiền</span>
                                <span class="text-danger">(*)</span>
                            </div>
                            <input class="form-control form-control-user border-none rounded" name="Amount" placeholder="Giá tiền" onkeyup="format(this)" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary w-100px" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary w-100px" onclick="insert()">Thêm</button>
            </div>
        </div>
    </div>
</div>
<script>
    // insert
    function insert() {
        var data = helper.form2Object($('#formFeeWeight').serializeArray());
        if (!data["WeightFrom"]) {
            helper.showErr('Vui lòng nhập cân nặng nhỏ nhất!');
            return
        }

        if (!data["WeightTo"]) {
            helper.showErr('Vui lòng nhập cân nặng lớn nhất!');
            return
        }

        if (!data["Amount"]) {
            helper.showErr('Vui lòng nhập giá tiền!');
            return;
        }
        $.ajax({
            url: "/Admin/FeeWeight/create",
            type: 'POST',
            data: data,
            // other AJAX options here
            success: function (reponse) {
                if (!reponse)
                {
                    helper.showErr('Thêm không thành công. Vui lòng thử lại!');
                }
                else
                    helper.showSuc('Thêm thành công!')
            },
            error: function (xhr, status, err) {
                helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!');
            }
        });
    }
    // delete
    function clickDelete(id){
        $.ajax({
            url: "/Admin/FeeWeight/Delete",
            type: 'POST',
            data: { ID:id },
            // other AJAX options here
            success: function (reponse) 
            {
                if (!reponse) 
                {
                    helper.showErr('Xóa không thành công!')
                }
                else
                    helper.showSuc('Xóa thành công!')
            },
            error: function (xhr, status, err) {
                helper.showErr('Hệ thống thực thi không thành công. Vui lòng thử lại!');
            }
        });
    }

    // get page
    function getPage(pageIndex) {
        var totalPage = @totalPage;
        if (pageIndex <= 0 || pageIndex > totalPage)
            return;
        if (!location.href.includes("page=")) {
            if (location.href.charAt(location.href.length - 1) == "=")
                location.href += `&page=${pageIndex}`;
            else
                location.href += `?page=${pageIndex}`;
        }
        else
            location.href = location.href.replace(`page=${@(page)}`, `page=${pageIndex}`);
    }
    //
    function format(e) {
        helper.getChange(e)
    }
</script>