@using KGQT.Models.temp
@using KGQT.Commons
@using Newtonsoft.Json
@model OrderDetails
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    //https://mdbootstrap.com/docs/standard/extended/order-details/
}
<ul id="breadcrumbs" class="mb-2">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/ShippingOrder/Index">Danh sách ký gửi</a></li>
    <li><a>Chi tiết</a></li>
</ul>

<div class="row d-flex justify-content-center align-items-center py-2">
    <div class="col-lg-10 col-xl-10 col-md-10 col-sm-12">
        <div class="card" style="border-radius: 10px;">
            <div class="card-header">
                <div class="card-header">
                    <h2 class="text-muted mb-0">
                        Thông tin đơn: <span class="text-uppercase text-danger">@Model.Order.ShippingOrderCode</span>
                        @if (Model.Order.Status < 3)
                        {
                            <button type="button" onclick="cancel(@Model.Order.ID)" class="btn btn-sm btn-danger float-right">Hủy đơn</button>
                        }
                    </h2>
                    <span class="py-2">Trạng thái đơn: </span>@Html.Raw(PJUtils.ShippingStatusHtml(Model.Order.Status))
                </div>
            </div>
            <div class="card-body p-4">
                <!--Start::Thông tin kiện-->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Danh sách Kiện</h3>
                </div>
                @foreach (var item in Model.Packs)
                {
                    <div class="card shadow-0 border mb-4">
                        <div class="card-body p-0 py-0">
                            <div class="row border-bottom p-2 mx-0 bg-success text-white">
                                <div class="col-md-12 col-sm-12 row justify-content-md-between">
                                    <div class="col-md-6 col-sm-12 ml-1 row align-items-center">
                                        <span class="cursor-pointer">
                                            <a href="/admin/package/details?id=@item.ID">@item.PackageCode</a>
                                            <i class="fa fa-copy"></i>
                                        </span>
                                        <span class="mx-2"> - </span>
                                        <span>Kho nhận: @PJUtils.WareHouse(item.WareHouse)</span>
                                    </div>
                                    <div class="col-md-3 ml-1 col-sm-12 row align-items-center">
                                        <span>  Ngày lên đơn:  &nbsp;<strong class=" mb-0"> @(item.CreatedDate.Value.ToString("dd/MM/yyyy"))</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-2 mx-0 my-2 border-bottom">
                                <ul class="step col-md-12 col-sm-12 col-lg-12 col-xl-12 col-12 mb-0">
                                    @if (item.ExportedCNWH != null)
                                    {
                                        <li class="active-tl">
                                            <span>Xuất kho Trung Quốc <br> @item.ExportedCNWH.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <span>Xuất kho Trung Quốc</span>
                                        </li>
                                    }
                                    @if (item.DateExpectation != null)
                                    {
                                        <li class="active-tl">
                                            <span>Đang trên đường về HCM <br> @item.DateExpectation.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <span>Đang trên đường về HCM</span>
                                        </li>
                                    }
                                    @if (item.ImportedSGWH != null)
                                    {
                                        <li class="active-tl">
                                            <span>Đã về kho HCM <br> @item.ImportedSGWH.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <span>Đã về kho HCM</span>
                                        </li>
                                    }
                                    @if (item.ReceivedDate != null)
                                    {
                                        <li class="active-tl">
                                            <span>Đã nhận hàng <br> @item.ReceivedDate.Value.ToString("dd/MM/yyyy")</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <span>Đã nhận hàng</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="row p-2 mx-0 my-2 border-bottom">
                                <div class="col-md-6">
                                    <span>Loại vận chuyển: @PJUtils.ShippingMethodName(item.MovingMethod)</span>
                                </div>
                                <div class="col-md-6">
                                    Dịch vụ phụ:
                                    @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                    {
                                        <div class="form-check-inline">

                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked disabled>Đóng gỗ
                                            </label>
                                        </div>
                                    }
                                    @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                    {
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked disabled>Bọt khí
                                            </label>
                                        </div>
                                    }
                                    @if (item.IsInsurance != null && item.IsInsurance == true)
                                    {
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked disabled>Bảo hiểm
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row p-2 mx-0 my-2">
                                <div class="col-md-3">
                                    <div class="form-inline text-left">
                                       Cân nặng:  &nbsp;<p class=" mb-0">@(item.Weight ?? 0)kg</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @if (item.IsWoodPackage != null && item.IsWoodPackage == true)
                                    {
                                        <div class="form-inline text-left">
                                            Phí đóng gỗ: &nbsp;
                                            <p class=" mb-0"> @string.Format("{0:N0}",item.WoodPackagePrice != null ? item.WoodPackagePrice : 0).Replace(",", ".")đ </p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                    {
                                        <div class="form-inline text-left">
                                            Phí bọt khí:  &nbsp;
                                            <p class=" mb-0">@string.Format("{0:N0}",item.AirPackagePrice != null ? item.AirPackagePrice : 0).Replace(",", ".")đ</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    @if (item.IsAirPackage != null && item.IsAirPackage == true)
                                    {
                                        <div class="form-inline text-left">
                                            Phí bảo hiểm:  &nbsp;
                                            <p class=" mb-0">@string.Format("{0:N0}",item.IsInsurancePrice != null ? item.IsInsurancePrice : 0).Replace(",", ".")đ</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--End::Thông tin kiện-->
                <hr />
                <!--Start: Kê khai-->
                @if (Model.Order.IsInsurance != null && Model.Order.IsInsurance == true)
                {
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="lead fw-normal mb-0 text-primary text-uppercase">Kê khai</h3>
                    </div>
                    @if (Model.Packs.Count() == 0)
                    {
                        <input type="text" class="form-control" id="txtId" hidden>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtLink">Link sản phẩm</label>
                                <input type="text" class="form-control" id="txtLink">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="txtQty">Số lượng</label>
                                <input type="text" class="form-control" id="txtQty">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="txtAmount">Giá</label>
                                <input type="text" class="form-control" id="txtAmount">
                            </div>
                            <div class="form-group col-md-1 align-self-end">
                                <div class="d-flex justify-content-end">
                                    <button type="button" onclick="addDeclare()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>


                    }

                    <div class="card table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col width="50%" />
                                <col width="20%" />
                                <col width="15%" />
                                <col width="15%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Link sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Declarations)
                                {
                                    <tr>
                                        <td><a class="text-truncate d-block" style="max-width:500px !important" target="_blank" href="@item.ProductLink">@item.ProductLink</a></td>
                                        <td>@item.ProductQuantity</td>
                                        <td>@item.ProductPrice</td>
                                        <td>
                                            @if (Model.Packs.Count() == 0)
                                            {
                                                <button class="btn btn-sm btn-primary mr-2" onclick="editDeclare('@Uri.EscapeUriString(JsonConvert.SerializeObject(item))')">
                                                    Sửa
                                                </button>

                                                <button class="btn btn-sm btn-danger">Xóa</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <!--End:: Kê khai-->
                <hr />
                <!--Start::Thông tin đơn-->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="lead fw-normal mb-0 text-uppercase text-primary">Chi tiết đơn</h3>
                </div>
                <div class="d-flex justify-content-between pt-2">
                    <p class="text-muted mb-0">Cân nặng:</p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">@(Model.Order.Weight.HasValue ? Model.Order.Weight : 0)kg</span></p>
                </div>
                <div class="d-flex justify-content-between pt-2">
                    <p class="text-muted mb-0">Phí vận chuyển:</p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">@string.Format("{0:N0}",Model.Order.WeightPrice.HasValue ? Model.Order.WeightPrice : 0).Replace(",", ".")đ</span></p>
                </div>
                @if (Model.Order.IsWoodPackage != null && Model.Order.IsWoodPackage == true)
                {
                    <div class="d-flex justify-content-between pt-2">
                        <p class="text-muted mb-0">Phí đóng gỗ:</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4">@string.Format("{0:N0}",Model.Order.WoodPackagePrice.HasValue ? Model.Order.WoodPackagePrice : 0).Replace(",", ".")đ</span></p>
                    </div>
                }
                @if (Model.Order.IsAirPackage != null && Model.Order.IsAirPackage == true)
                {
                    <div class="d-flex justify-content-between pt-2">
                        <p class="text-muted mb-0">Phí bọt khí:</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4">@string.Format("{0:N0}",Model.Order.AirPackagePrice.HasValue ? Model.Order.AirPackagePrice : 0).Replace(",", ".")đ</span></p>
                    </div>
                }
                @if (Model.Order.IsInsurance != null && Model.Order.IsInsurance == true)
                {
                    <div class="d-flex justify-content-between pt-2">
                        <p class="text-muted mb-0">Phí bảo hiểm:</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4">@string.Format("{0:N0}",Model.Order.InsurancePrice.HasValue ? Model.Order.InsurancePrice : 0).Replace(",", ".")đ</span></p>
                    </div>
                }
                <!--End::Thông tin đơn-->
            </div>
            <div class="card-footer border-0 px-4 py-5"
                 style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <h5 class="d-flex align-items-center justify-content-between text-white text-uppercase mb-0">
                    Tổng tiền:   <span class="h2 mb-0 ms-2">@string.Format("{0:N0}",Model.Order.TotalPrice.HasValue ? Model.Order.TotalPrice : 0).Replace(",", ".")đ</span>
                </h5>
            </div>
        </div>
    </div>
</div>
<script>
    //Hủy đơn
    function cancel(id) {
        $.ajax({
            url: '@Url.Action("Cancel", "ShippingOrder")',
            type: 'Post',
            data: { id },
            // other AJAX options here
            success: function (result) {
                if (!result)
                    helper.showErr('Lỗi!');
                else
                    helper.showSuc('Đã hủy nhận thành công!');
            },
            error: function (xhr, status, err) {
                // error handling
            }
        });
    }

    function addDeclare() {
        let $id = $("#txtId"), $link = $("#txtLink"), $Qty = $("#txtQty"), $amount = $('#txtAmount');
        let id = $id.val(), link = $link.val(), qty = $Qty.val(), amount = $amount.val();

        if (!link || !qty || !amount) {
            helper.showErr('Vui lòng nhập đầy đủ thông tin!')
            return;
        }

        $.ajax({
            url: '@Url.Action("AddDeclare", "ShippingOrder")',
            type: 'Post',
            data: { id, link, qty, amount, shipId: @Model.Order.ID },
            // other AJAX options here
            success: function (result) {
                if (result == -1)
                    helper.showErr('Bạn đã kê khai sản phẩn này rồi!');

                if (result == 0)
                    helper.showErr('Lỗi!');

                if (result == 1)
                    helper.showSuc('Kê khai thành công!');

                if (result == 2)
                    helper.showSuc('Cập nhật thành công!');
            },
            error: function (xhr, status, err) {
                // error handling
            }
        });
    }

    function editDeclare(o) {
        var obj = JSON.parse(decodeURIComponent(o));

        $("#txtId").val(obj.ID);
        $("#txtLink").val(obj.ProductLink);
        $("#txtQty").val(obj.ProductQuantity);
        $('#txtAmount').val(obj.ProductPrice);
    }
</script>