@model List<KGQT.Models.tbl_ShippingOrder>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using KGQT.Models
@using KGQT.Commons
@{
    ViewData["Title"] = "Danh sách ký gửi";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var ID = ViewBag.ID;
    var status = ViewBag.status;
    DateTime? fromDate = ViewBag.fromDate;
    DateTime? toDate = ViewBag.toDate;
    int pageCurrent = ViewBag.pageCurrent;
    int numberPage = ViewBag.numberPage;
    int numberRecord = ViewBag.numberRecord;
}
<div class="container-fluid w-100 h-100">
    <div class="row mb-2">
        <ul id="breadcrumbs">
            <li><a href="/">Trang chủ</a></li>
            <li><a>Danh sách ký gửi</a></li>
        </ul>
    </div>
    <form class="row mb-2 py-2">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group">
                <label class="fw-bold mb-0">Mã đơn:</label>
                @Html.TextBoxFor(model => ID,new { @type="search",@class="form-control",@placeholder="Nhập mã đơn hàng"})
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="row form-group">
                <label class="fw-bold mb-0">Từ ngày</label>
                @Html.TextBoxFor(model => fromDate,new { @type="date",@class="form-control"})
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group">
                <label class="fw-bold mb-0">Đến ngày</label>
                @Html.TextBoxFor(model => toDate,new { @type="date",@class="form-control"})
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group">
                <label class="fw-bold mb-0">Trạng thái:</label>
                <select name="status" class="form-control">
                    <option value="0" selected="@(status == 0)">Tất cả</option>
                    <option value="1" selected="@(status == 1)">Chờ thanh toán</option>
                    <option value="2" selected="@(status == 2)">Đã thanh toán</option>
                    <option value="3" selected="@(status == 3)">Thất lạc</option>
                    <option value="4" selected="@(status == 4)">Không nhận hàng</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="d-flex align-items-end justify-content-between">
                <div>
                    <h5 class="text-primary fw-bold text-uppercase m-0">Danh sách đơn ký gửi </h5>
                </div>
                <div class="d-flex align-items-center justify-content-end">
                    <a href="Index" class="w-100px mr-2 btn btn-sm btn-info">
                        <i class="fas fa-sync fa-xs"></i>
                        Xóa lọc
                    </a>
                    <button type="submit" class="btn btn-sm btn-primary w-100px"><i class="fas fa-search fa-xs mr-2"></i>Tìm kiếm</button>
                </div>
            </div>

        </div>
    </form>
    <div class="row bg-white">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="form-group mb-0">
                        <label class="col-form-label">Tổng đơn:</label>
                        <label class="col-form-label"><b>@ViewBag.total</b></label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-0">
                        <label class="col-form-label">Tổng tiền chưa thanh toán:</label>
                        <label class="col-form-label text-danger"><b>@Converted.Double2Money(ViewBag.totalLeft)đ</b></label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">
                                Mã đơn
                            </th>
                            <th class="text-center">
                                Kiện
                            </th>
                            <th class="text-center">
                                Vận chuyển
                            </th>
                            <th class="text-center">
                                Trạng thái
                            </th>
                            <th class="text-center">
                                Tổng tiền
                            </th>
                            <th class="text-center">
                                Ngày tạo
                            </th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-light font-weight-normal py-2">
                                <td class="text-left ">
                                    @Html.DisplayFor(modelItem => item.ShippingOrderCode)
                                </td>
                                <td class="text-left w-300px d-block text-break">
                                    @item.PackageCode
                                </td>
                                <td class="text-center ">
                                    @Html.DisplayFor(modelItem => item.ShippingMethodName)
                                </td>
                                <td class="text-center  w-200px d-block">
                                    @Html.Raw(PJUtils.ShippingOrderStatusHtml(item.Status))
                                </td>
                                <td class="text-center ">
                                    @Converted.String2Money(item.TotalPrice)
                                </td>
                                <td class="text-center  w-200px d-block">
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td class="text-center ">
                                    <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.ID">
                                        <i class="far fa-edit"></i>
                                        <span>Xem</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-4 align-self-center">
            <span>
                Tổng số:&nbsp
                <b>@numberRecord</b>
            </span>
        </div>
        <div class="col-8">
            @if (numberPage > 1)
            {
                <nav class="d-flex justify-content-end">
                    <ul class="pagination m-0">
                        @{
                            int offset = 2; // number display page
                            if (pageCurrent > 1)
                            {
                                <li class="page-item">
                                    <button type="button" class="page-link" onclick="nextPage(@pageCurrent,1,@numberPage)">
                                        <i class="fas fa-fast-backward"></i>
                                    </button>
                                </li>
                                int prevPage = pageCurrent - 1;
                                <li class="page-item">
                                    <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@prevPage,@numberPage)">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </button>
                                </li>
                            }

                            int from = pageCurrent - offset;
                            int to = pageCurrent + offset;
                            if (from <= 0)
                            {
                                from = 1;
                                to = offset * 2;
                            }

                            if (to > numberPage)
                            {
                                to = numberPage;
                            }

                            int i;
                            for (i = from; i <= to; i++)
                            {
                                <li class="@(pageCurrent == i ? "page-item active" : "page-item")">
                                    <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@i,@numberPage)">@i</button>
                                </li>
                            }
                            if (pageCurrent < numberPage - (to / 2))
                            {
                                <li class="page-item disabled">
                                    <a class="page-link">...</a>
                                </li>
                            }
                            if (pageCurrent < numberPage)
                            {
                                int nextPage = pageCurrent + 1;
                                <li class="page-item">
                                    <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@nextPage,@numberPage)">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </button>
                                </li>
                            }
                            if (pageCurrent < numberPage)
                            {
                                <li class="page-item">
                                    <button type="button" class="page-link" onclick="nextPage(@pageCurrent,@numberPage,@numberPage)">
                                        <i class="fas fa-fast-forward"></i>
                                    </button>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
